<div class="m-2 p-2">
  <div class="card">
    <div class="card-header theme-bg">
      <h1 class="theme-text text-white">ALL Buyer List</h1>
    </div>
    <div class="card-body">
      <form
        [formGroup]="dateForm"
        class="row p-3 shadow-sm g-3 align-items-end mb-3"
        (ngSubmit)="loadAllBuyers()"
      >
        <!-- Date Range -->
        <div class="col-xl col-lg col-md-6 col-12">
          <label class="form-label">Select Date</label>
          <div class="range-container w-100">
            <p-calendar
              formControlName="fromDate"
              [showIcon]="false"
              dateFormat="dd/mm/yy"
              placeholder="Start Date"
              inputStyleClass="custom-date-input"
            ></p-calendar>

            <span class="range-divider px-2">to</span>

            <p-calendar
              formControlName="toDate"
              [showIcon]="false"
              dateFormat="dd/mm/yy"
              placeholder="End Date"
              inputStyleClass="custom-date-input"
            ></p-calendar>
          </div>
        </div>

        <!-- Superior -->
        <div class="col-xl col-lg-3 col-md-6 col-12">
          <label>Superior Name <span>*</span></label>
          <p-dropdown
            [options]="SuperiorList"
            optionLabel="UserName"
            [filter]="true"
            filterBy="UserName"
            [showClear]="true"
            styleClass="listBottom w-100"
            placeholder="Please Select"
            optionValue="User_ID"
            formControlName="SuperioId"
          ></p-dropdown>
        </div>

        <!-- Buyer -->
        <div class="col-xl col-lg-3 col-md-6 col-12">
          <label>Buyer Name <span>*</span></label>
          <p-dropdown
            [options]="BuyerList"
            optionLabel="Buyer_Name"
            [filter]="true"
            filterBy="Buyer_Name"
            [showClear]="true"
            styleClass="listBottom w-100"
            placeholder="Please Select"
            optionValue="Buyer_ID"
            formControlName="BuyerId"
          ></p-dropdown>
        </div>

        <!-- Load Button -->
        <div class="col-xl-auto col-lg-2 col-md-6 col-12">
          <button
            type="submit"
            class="btn btn-sm theme-btn w-100"
            [disabled]="dateForm.invalid"
            style="height: 48px"
          >
            <i class="pi pi-download me-1"></i> Load
          </button>
        </div>

        <!-- Create Button -->
        <div class="col-xl-auto col-lg-2 col-md-6 col-12">
          <button
            *ngIf="insertPermissions"
            class="btn theme-btn w-100"
            routerLink="/generate-buying-house"
            target="_blank"
            style="height: 48px"
          >
            <i class="fas fa-plus me-1"></i>Create New
          </button>
        </div>
      </form>
      <div class="shadow-sm p-2">
         <div class="flex">
          <button *ngIf="tableVisible" type="button" class="btn btn-outline-success bg-gradient-warning btn-sm mr-2 mb-3"
            (click)="printDialog()" style="height: 38px; width: 130px">
            <i class="fas fa-file-print"></i>&nbsp;Print
          </button>
          <button *ngIf="roleId==1 || roleId==2" type="button" class="btn btn-outline-success bg-gradient-warning btn-sm mr-2 mb-3"
            (click)="printAllDialog()" style="height: 38px; width: 130px">
            <i class="fas fa-file-print"></i>&nbsp;Print All
          </button>
        </div>
        <p-table
          *ngIf="tableVisible"
          #dt
          [value]="allBuyers"
          [paginator]="true"
          [rows]="10"
          [responsive]="true"
          [showCurrentPageReport]="true"
          [globalFilterFields]="[
            'Buyer_Name',
            'Contact_Name',
            'Buyer_Address',
            'Contact_Title',
            'UserName',
            'Phone_No',
            'Email',
            'Created_By',
            'Created_At',
            'Status',
            'Updated_By',
            'Updated_At',
          ]"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <ng-template pTemplate="caption">
            <div class="table-toolbar d-flex justify-content-end">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="
                    dt.filterGlobal($any($event.target).value, 'contains')
                  "
                  placeholder="Global Search"
                />
              </span>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th class="text-center">Serial No</th>
              <th class="text-center">Buyer Name</th>
              <th class="text-center">Contact Person</th>
              <th class="text-center">Buyer Address</th>
              <th class="text-center">Designation</th>
              <th class="text-center">Group Head</th>
              <th class="text-center">Phone Number</th>
              <th class="text-center">E-mail Address</th>
              <th class="text-center">Created By</th>
              <th class="text-center">Created Date</th>
              <th class="text-center">Status</th>
              <th class="text-center">Approved By</th>
              <th class="text-center">Approved Date</th>
              <th class="text-center">Action</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-BuyersLIst let-i="rowIndex">
            <tr>
              <td class="text-center">{{ (dt.first || 0) + i + 1 }}</td>
              <!-- <td class="text-start">{{ BuyersLIst.Buyer_Name }}</td> -->
              <td class="text-cell">
                <span
                  *ngIf="
                    !BuyersLIst.showFull && BuyersLIst.Buyer_Name?.length > 15
                  "
                >
                  {{ BuyersLIst.Buyer_Name | slice: 0 : 15 }}...
                  <br />
                  <span
                    class="see-more"
                    (click)="toggleText(BuyersLIst)"
                    style="cursor: pointer; color: blue"
                  >
                    See more
                  </span>
                </span>

                <span
                  *ngIf="
                    BuyersLIst.showFull || BuyersLIst.Buyer_Name?.length <= 15
                  "
                >
                  {{ BuyersLIst.Buyer_Name }}
                  <span
                    *ngIf="BuyersLIst.Buyer_Name?.length > 15"
                    class="see-more"
                    (click)="toggleText(BuyersLIst)"
                    style="cursor: pointer; color: blue"
                  >
                    See less
                  </span>
                </span>
              </td>
              <!-- <td class="text-start">{{ BuyersLIst.Contact_Name }}</td> -->
              <td class="text-cell">
                <span
                  *ngIf="
                    !BuyersLIst.showFull && BuyersLIst.Contact_Name?.length > 15
                  "
                >
                  {{ BuyersLIst.Contact_Name | slice: 0 : 15 }}...
                  <br />
                  <span
                    class="see-more"
                    (click)="toggleText(BuyersLIst)"
                    style="cursor: pointer; color: blue"
                  >
                    See more
                  </span>
                </span>

                <span
                  *ngIf="
                    BuyersLIst.showFull || BuyersLIst.Contact_Name?.length <= 15
                  "
                >
                  {{ BuyersLIst.Contact_Name }}
                  <span
                    *ngIf="BuyersLIst.Contact_Name?.length > 15"
                    class="see-more"
                    (click)="toggleText(BuyersLIst)"
                    style="cursor: pointer; color: blue"
                  >
                    See less
                  </span>
                </span>
              </td>
              <!-- <td class="text-start">{{ BuyersLIst.Buyer_Address }}</td> -->
              <td class="text-cell">
                <span
                  *ngIf="
                    !BuyersLIst.showFull &&
                    BuyersLIst.Buyer_Address?.length > 15
                  "
                >
                  {{ BuyersLIst.Buyer_Address | slice: 0 : 15 }}...
                  <br />
                  <span
                    class="see-more"
                    (click)="toggleText(BuyersLIst)"
                    style="cursor: pointer; color: blue"
                  >
                    See more
                  </span>
                </span>

                <span
                  *ngIf="
                    BuyersLIst.showFull ||
                    BuyersLIst.Buyer_Address?.length <= 15
                  "
                >
                  {{ BuyersLIst.Buyer_Address }}
                  <span
                    *ngIf="BuyersLIst.Buyer_Address?.length > 15"
                    class="see-more"
                    (click)="toggleText(BuyersLIst)"
                    style="cursor: pointer; color: blue"
                  >
                    See less
                  </span>
                </span>
              </td>
              <td class="text-start">{{ BuyersLIst.Contact_Title }}</td>
              <td class="text-start">{{ BuyersLIst.UserName }}</td>
              <td class="text-start">{{ BuyersLIst.Phone_No }}</td>
              <td class="text-start">{{ BuyersLIst.Email }}</td>
              <td class="text-start">{{ BuyersLIst.CreatedBy }}</td>
              <td class="text-center">
                {{ BuyersLIst.Created_At | date: "dd-MMM-yyyy" }}
              </td>
              <td class="text-start">{{ BuyersLIst.Status }}</td>
              <td class="text-center">{{ BuyersLIst.ApprovedBy }}</td>
              <td class="text-center">
                {{ BuyersLIst.ApprovedDate | date: "dd-MMM-yyyy" }}
              </td>

              <!-- <td class="d-flex">
                <a
                  *ngIf="updatePermissions"
                  class="btn theme-btn btn-xs mr-2"
                  target="_blank"
                  title="Edit"
                  [routerLink]="['/generate-buying-house']"
                  [queryParams]="{ Buying_House_Id: BuyersLIst.Id }"
                  ><i class="fa fa-edit"></i
                ></a>
                <button
                  class="btn btn-danger btn-sm d-inline-flex align-items-center"
                  (click)="onDelete(BuyersLIst)"
                  title="Delete"
                  aria-label="Delete"
                >
                  <i class="pi pi-trash me-1"></i>
                </button>
              
                <button
                  class="btn theme-btn btn-sm text-white d-inline-flex align-items-center"
                  (click)="onDetails(BuyersLIst)"
                  title="Details"
                  aria-label="Details"
                >
                  <i class="pi pi-eye me-1"></i>
                </button>
              </td> -->
              <td class="text-center align-middle">
                <div class="action-group">
                  <a
                    *ngIf="updatePermissions"
                    class="action-btn edit-btn"
                    target="_blank"
                    title="Edit"
                    [routerLink]="['/generate-buying-house']"
                    [queryParams]="{ Buying_House_Id: BuyersLIst.Id }"
                  >
                    <i class="fa fa-edit"></i>
                  </a>

                  <button
                    class="action-btn delete-btn"
                    (click)="onDelete(BuyersLIst)"
                    title="Delete"
                  >
                    <i class="pi pi-trash"></i>
                  </button>

                  <button
                    class="action-btn details-btn"
                    (click)="onDetails(BuyersLIst)"
                    title="Details"
                  >
                    <i class="pi pi-eye"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <!-- Details dialog -->
        <!-- <p-dialog
          header="Detail"
          [(visible)]="isDetailsVisible"
          [modal]="true"
          [closable]="true"
          [style]="{ width: '70vw' }"
          (onHide)="detailsData = null"
        >
          <div *ngIf="detailsData">
            <h2>Buyer Name - {{ detailsData.Buyer_Name }}</h2>
            <p>Group head: {{ detailsData.Group_head }}</p>
            <p>Contact Person: {{ detailsData.Contact_Name }}</p>
            <p>Company Info: {{ detailsData.company_info }}</p>
            <p>Buyer Address: {{ detailsData.Buyer_Address }}</p>
            <p>City: {{ detailsData.City }}</p>
            <p>Postal Code: {{ detailsData.Postal_Code }}</p>
            <p>Country: {{ detailsData.Country }}</p>
            <p>Designation: {{ detailsData.Contact_Title }}</p>
            <p>Phone No: {{ detailsData.Phone_No }}</p>
            <p>FAX No: {{ detailsData.FAX_No }}</p>
            <p>Email: {{ detailsData.Email }}</p>
            <p>Notes: {{ detailsData.Notes }}</p>
            <p>Created By: {{ detailsData.CreatedBy }}</p>
            <p>
              Created At: {{ detailsData.Created_At | date: "dd-MMM-yyyy" }}
            </p>
            <p>status: {{ detailsData.status }}</p>
            <p>Approved By: {{ detailsData.ApprovedBy }}</p>
            <p>
              Approved Date:
              {{ detailsData.ApprovedDate | date: "dd-MMM-yyyy" }}
            </p>
            <p>Uppdated By: {{ detailsData.UppdatedBy }}</p>
            <p>
              Updated At: {{ detailsData.Updated_At | date: "dd-MMM-yyyy" }}
            </p>
          </div>
        </p-dialog> -->

        <p-dialog
          header="Detail"
          [(visible)]="isDetailsVisible"
          [modal]="true"
          [closable]="true"
          [style]="{ width: '75vw' }"
          styleClass="buyer-dialog"
          (onHide)="detailsData = null"
        >
          <div *ngIf="detailsData" class="buyer-body">
            <div class="buyer-title">
              Buyer Name - {{ detailsData.Buyer_Name }}
            </div>

            <div class="details-grid">
              <div class="detail-item">
                <span>Group Head</span>{{ detailsData.Group_head }}
              </div>
              <div class="detail-item">
                <span>Contact Person</span>{{ detailsData.Contact_Name }}
              </div>
              <div class="detail-item">
                <span>Company Info</span>{{ detailsData.company_info }}
              </div>
              <div class="detail-item">
                <span>Buyer Address</span>{{ detailsData.Buyer_Address }}
              </div>
              <div class="detail-item">
                <span>City</span>{{ detailsData.City }}
              </div>
              <div class="detail-item">
                <span>Postal Code</span>{{ detailsData.Postal_Code }}
              </div>
              <div class="detail-item">
                <span>Country</span>{{ detailsData.Country }}
              </div>
              <div class="detail-item">
                <span>Designation</span>{{ detailsData.Contact_Title }}
              </div>
              <div class="detail-item">
                <span>Phone No</span>{{ detailsData.Phone_No }}
              </div>
              <div class="detail-item">
                <span>FAX No</span>{{ detailsData.FAX_No }}
              </div>
              <div class="detail-item">
                <span>Email</span>{{ detailsData.Email }}
              </div>
              <div class="detail-item">
                <span>Notes</span>{{ detailsData.Notes }}
              </div>
              <div class="detail-item">
                <span>Created By</span>{{ detailsData.CreatedBy }}
              </div>
              <div class="detail-item">
                <span>Created At</span
                >{{ detailsData.Created_At | date: "dd-MMM-yyyy" }}
              </div>

              <div class="detail-item">
                <span>Status</span>
                <span
                  class="status-badge"
                  [ngClass]="
                    detailsData.status === 'Active' ? 'active' : 'inactive'
                  "
                >
                  {{ detailsData.status }}
                </span>
              </div>

              <div class="detail-item">
                <span>Approved By</span>{{ detailsData.ApprovedBy }}
              </div>
              <div class="detail-item">
                <span>Approved Date</span
                >{{ detailsData.ApprovedDate | date: "dd-MMM-yyyy" }}
              </div>
              <div class="detail-item">
                <span>Updated By</span>{{ detailsData.UppdatedBy }}
              </div>
              <div class="detail-item">
                <span>Updated At</span
                >{{ detailsData.Updated_At | date: "dd-MMM-yyyy" }}
              </div>
            </div>
          </div>
        </p-dialog>
      </div>
    </div>
  </div>
</div>
