<div class="card card-default">
  <div class="content-heading" style="border-bottom: 1px solid rgba(0,0,0,.125) !important;">
    <div class="row">
      <div class="col-6">
        <h2 class="p-2">All Commercial Invoice</h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="SearchForm">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="control-label" for="inlineFormInputGroup">From Date</label>
          <div class="input-group mb-2">
            <div class="input-group-sm input-group-prepend">
              <div class="input-group-text" (click)="dpfrom.toggle()"><i class="fas fa-calendar"></i></div>
            </div>
            <input type="text" autocomplete="off" formControlName="fromDate" [bsConfig]="{
              dateInputFormat: 'DD/MM/YYYY',
              containerClass: 'theme-green'
            }" class="form-control-sm form-control bg-white" id="fromdate" name="fromdate" placeholder="From Date" 
              #dpfrom="bsDatepicker" bsDatepicker/>
          </div>

        </div>
        <div class="col-auto">
          <label class="control-label" for="inlineFormInputGroup">To Date</label>
          <div class="input-group mb-2">
            <div class="input-group-sm input-group-prepend">
              <div class="input-group-text" (click)="dpto.toggle()"><i class="fas fa-calendar"></i></div>
            </div>
            <input type="text" autocomplete="off" formControlName="toDate" [bsConfig]="{
              dateInputFormat: 'DD/MM/YYYY',
              containerClass: 'theme-green'
            }" class="form-control-sm form-control bg-white" id="todate" name="todate" placeholder="To Date"
              #dpto="bsDatepicker" bsDatepicker />
          </div>
        </div>
        <div class="col-auto">
            <label for="CDNo" class="">Commercial Document No </label>
              <div class="">
                <div class="form-group d-inline">
                  <input autocomplete="off" type="text"                  
                  formControlName="cdNo"
                  class="form-control"
                  placeholder="Commercial Document No" id="CDNo" name="CDNo" value="">
                </div>
              </div>
        </div>
        <div class="col-auto">
          <button title="Search" type="button" (click)="Search()"
            class="btn btn-sm btn-outline-primary bg-gradient-primary mb-2 mr-2" style="margin-top: 2.3em !important;">
            <i class="fas fa-search"></i>&nbsp;Search</button>
        </div>
      </div>
    </form>
    <hr>

      <p-table #dt
           [value]="tableData"
           [paginator]="true"
           [rows]="10"
           [responsive]="true"
           [showCurrentPageReport]="true"
           [globalFilterFields]="['Commercial_Invoice_No','LC_No','PI_No','Date','UserName']"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

    <ng-template pTemplate="caption">
      <div class="table-toolbar">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text"
                 (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                 placeholder="Global Search" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="bg-gradient-success">SL</th>
        <th class="bg-gradient-success">Commercial Invoice No</th>
        <th class="bg-gradient-success">LC No</th>
        <th class="bg-gradient-success">PI(s)</th>
        <th class="bg-gradient-success">Date</th>
        <th class="bg-gradient-success">Generated By</th>
        <th class="bg-gradient-success" *ngIf="allPersmissions">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-table let-i="rowIndex">
      <tr>
        <td class="text-center">{{ (dt.first || 0) + i + 1 }}</td>
        <td class="text-center align-middle">{{table.Commercial_Invoice_No}}</td>
        <td class="text-center align-middle">{{table.LC_No}}</td>
        <td class="text-center align-middle">{{table.PI_No}}</td>
        <td class="text-center align-middle">{{table.Date}}</td>
        <td class="text-center align-middle">{{table.UserName}}</td>
        <td class="text-center align-middle p-0 m-0">
            <a  class="btn bg-gradient-cyan btn-xs mr-2" target="_blank" title="View" (click)="viewDetails(table)"><i class="fa fa-eye" ></i></a> 
            <a *ngIf="updatePermissions" class="btn bg-gradient-cyan btn-xs mr-2" target="_blank" title="Edit" [routerLink]="['/generate-commercial-invoice']"
              [queryParams]="{Commercial_Invoice_ID:table.Commercial_Invoice_ID}"><i class="fa fa-edit" ></i></a> 
            <button *ngIf="deletePermissions" class="btn bg-gradient-danger btn-xs" title="Delete" (click)="DeleteData(table)"><i
                class="fas fa-trash"></i></button>
        </td>
      </tr>
    </ng-template>

  </p-table>

    </div>
    <!--/Region Mat Datatable"-->
    <p-dialog header="Detail"
            [(visible)]="isDetailsVisible"
            [modal]="true"
            [closable]="true"
            [style]="{ width: '70vw' }"
            (onHide)="detailsData = null">
            <div *ngIf="detailsData">
              <h2>{{detailsData.Commercial_Invoice_No}}</h2>
              <p>1. Shipper/Exporter: {{ detailsData.CompanyName }}{{ detailsData.Address }}</p>
              <p>2. Apllicant Bank: {{ detailsData.BankName }}{{ detailsData.Address }}</p>
              <p>3. Importer's Notify Address: {{ detailsData.Consignee_Name }}</p>
              <p>4. Port Of Loading: {{ detailsData.Loading_Port_Name }}</p>
              <p>5. Final Destination: {{ detailsData.Destination_Port }}</p>
              <p>6. Carrier: {{ detailsData.Sailing_On_Or_About }}</p>
              <p>7. Sailing on or about: {{ detailsData.Sailing_On_Or_About }}</p>
              <p>8. PI's: {{ detailsData.PINo }}</p>
              <p>9. L/C No/Sales Contact No: {{ detailsData.Invoice_No }} Date:{{ detailsData.Issue_Date }}Export LC/SC :{{ detailsData.Export_LC_SC }}Export LC/SC Date :{{detailsData.Export_LC_SC_Date}}</p>
              <p>10. Beneficiary Bank Details: {{ detailsData.BankName }}{{detailsData.Address}}</p>
              <p>11. EXP No. /BE No./EP No.: L/C No.:{{ detailsData.ExpNo }} Exp: Date:{{ detailsData.Export_Date }} BE:{{ detailsData.Be_No }} Date: {{ detailsData.Be_No_Date }}EP: {{ detailsData.EP_No }}Date{{ detailsData.EP_No_Date }}</p>
              <p>12.Terms & Conditions: Payment Terms: {{ detailsData.Mode }}
                Price Term:{{ detailsData.PriceTerm }}</p>
              <p>13. Others:LCA Form No: {{ detailsData.LCA_Form_No }}
                  IRC No:{{ detailsData.IRC_No }}
                  App. BIN/VAT:{{ detailsData.Applicant_BIN_VAT }}
                  Bank BIN No:{{ detailsData.Bank_BIN_No }}
                  App. TIN No:{{ detailsData.Applicant_TIN }}
                  HS Code: {{ detailsData.HS_Code }}
                  Freight Charge: {{ detailsData.FreightCharge }}
                  Quantity(Rolls): {{ detailsData.Qty_Rolls }}
                  Total Gross Weight: {{ detailsData.Total_Gross_Weight }}
                  Total Net Weight:{{ detailsData.Total_Net_Weight }}

              </p>
              <p>Remarks.: {{ detailsData.Remarks }}</p>
              <p-table [value]="detailsTableData" [responsive]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th>Article</th>
                  <th>A. A.</th>
                  <th>Description</th>
                  <th>Width</th>
                  <th>Color</th>
                  <th>Packaging</th>
                  <th>Qty</th>
                  <th>Unit</th>
                  <th>Unit Price (USD)</th>
                  <th>Total Amount (USD)</th>
                  <th>Comm. Unit</th>
                  <th>Total Comm.</th>
                  <th>Delivered</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-detailsTableData>
                <tr>
                  <td>{{ detailsTableData.Article_No }}</td>
                  <td>{{ detailsTableData.ActualArticle }}</td>
                  <td>{{ detailsTableData.Description }}</td>
                  <td>{{ detailsTableData.Measurement }}</td>
                  <td>{{ detailsTableData.Color }}</td>
                  <td>{{ detailsTableData.Packaging }}</td>
                  <td>{{ detailsTableData.Quantity }}</td>
                  <td>{{ detailsTableData.Unit }}</td>
                  <td>{{ detailsTableData.Unit_Price }}</td>
                  <td>{{ detailsTableData.Total_Amount }}</td>
                  <td>{{ detailsTableData.CommissionUnit }}</td>
                  <td>{{ detailsTableData.TotalCommission }}</td>
                  <td>{{ detailsTableData.Delivered_Quantity }}</td>
                </tr>
              </ng-template>
      </p-table>
            </div>
  </p-dialog>

  </div>
