<div class="card card-default">
  <div
    class="content-heading"
    style="border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important"
  >
    <h2 class="p-2 font-weight-bold theme-color">
      <i class="fas fa-list-alt fa-1x"></i>&nbsp;Arbitration List
    </h2>
  </div>

  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="d-flex align-items-center">
        <button
          *ngIf="insertPermissions"
          class="btn theme-btn"
          style="color: white"
          routerLink="/arbitration-create"
        >
          <i class="fas fa-plus"></i>&nbsp;Create New
        </button>

        <div class="d-flex align-items-center ml-3">
          <label class="mb-0 mr-2 theme-text">Show</label>
          <select class="form-control form-control-sm" style="width: auto">
            <option>10</option>
            <option>25</option>
            <option>50</option>
            <option>100</option>
          </select>
          <label class="mb-0 ml-2 theme-text">entries</label>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <label class="mb-0 mr-2">Search:</label>
        <input
          type="text"
          class="form-control form-control-sm"
          [(ngModel)]="searchText"
          placeholder="Search..."
                            (keyup)="getArbitration({offset:0}, 1, pageSize, searchText)"

        />
   
      </div>
    </div>

    <div class="datatable">
      <table class="table table-bordered table-striped">
        <thead>
          <tr style="background-color: #f5f5f5">
            <th class="p-2">SL</th>
            <th class="p-2">Detail</th>
            <th class="p-2">Action</th>
          </tr>
        </thead>

        <tbody class="text-dark">
          <tr *ngFor="let item of rows; let i = index">
                        <td class="align-middle">{{ i }}</td>

            <td class="align-middle">{{ item.Detail.split(' ').length > 20 
      ? (item.Detail.split(' ').slice(0, 20).join(' ') + '...') 
      : item.Detail }}</td>
<td class="align-middle">
  <span *ngIf="item.IsAvailable==1" class="badge bg-success">Available</span>
  <span *ngIf="item.IsAvailable==0" class="badge bg-danger">Not Available</span>
</td>
           
            <td class="text-center align-middle p-0 m-0">
              <a
                *ngIf="updatePermissions"
                class="btn theme-btn btn-sm text-white m-1"
                title="Edit"
                [routerLink]="['/arbitration-create']"
[queryParams]="{ Arbitration_Id: item.Arbitration_ID }"
              >
                <i class="fa fa-edit"></i>
              </a>

              <a
                *ngIf="allPermissions"
                class="btn btn-sm text-white m-1 theme-btn"
                title="Details"
              >
                <i class="fa fa-info-circle"></i>
              </a>

              <button
                *ngIf="deletePermissions"
                class="btn btn-sm text-white m-1"
                title="Delete"
                (click)="deleteArbitration(item)"
                style="background-color: #dc3545"
              >
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <mat-paginator
        class="theme-btn"
        showFirstLastButtons
        (page)="paginatiorChange($event)"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
