<div>
    <div *ngIf="showSkeleton" class="text-center p-4">
        <p>Loading data...</p>
    </div>

    <div *ngIf="!showSkeleton">
        <div class="search-filter-section shadow-md p-2 m-2">
            <input
                type="text"
                placeholder="Type here"
                class="input input-bordered w-full max-w-xs" />
        </div>

        <div class="overflow-x-auto shadow-md p-2 m-2">
            <table class="table">
                <thead>
                    <tr>
                        <th *ngFor="let column of columns; trackBy: trackByColumnKey">
                            {{column.title}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data; trackBy: trackByIndex">
                        <td *ngFor="let column of columns; trackBy: trackByColumnKey">
                            <ng-container [ngSwitch]="column.dataIndex">
                                <ng-container *ngSwitchCase="'action'">
                                    <ng-container *ngIf="column.render">
                                        <div class="btn-group">
                                            <button
                                                class="btn btn-primary btn-sm me-2"
                                                (click)="onView(item)"
                                                title="View">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button
                                                class="btn btn-primary btn-sm"
                                                (click)="onEdit(item)"
                                                title="Edit">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </div>
                                    </ng-container>
                                </ng-container>

                                <ng-container *ngSwitchDefault>
                                    {{ getColumnValue(item, column) }}
                                </ng-container>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th *ngFor="let column of columns; trackBy: trackByColumnKey">
                            {{column.title}}
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>