<div class="m-2 p-2">
  <div class="card">
    <div class="card-header theme-bg">
      <h1 class="theme-text text-white">Unapproved Buyer List</h1>
    </div>
    <div class="card-body">
         <form
        [formGroup]="dateForm"
        class="row p-3 shadow-sm g-3 align-items-end mb-3"
        (ngSubmit)="loadAllBuyers()"
      >
        <!-- Date Range -->
        <div class="col-xl col-lg col-md-6 col-12">
          <label class="form-label">Select Date</label>
          <div class="range-container w-100">
            <p-calendar
              formControlName="fromDate"
              [showIcon]="false"
              dateFormat="dd/mm/yy"
              placeholder="Start Date"
              inputStyleClass="custom-date-input"
            ></p-calendar>

            <span class="range-divider px-2">to</span>

            <p-calendar
              formControlName="toDate"
              [showIcon]="false"
              dateFormat="dd/mm/yy"
              placeholder="End Date"
              inputStyleClass="custom-date-input"
            ></p-calendar>
          </div>
        </div>

        <!-- Superior -->
        <div class="col-xl col-lg-3 col-md-6 col-12">
          <label>Superior Name <span>*</span></label>
          <p-dropdown
            [options]="SuperiorList"
            optionLabel="UserName"
            [filter]="true"
            filterBy="UserName"
            [showClear]="true"
            styleClass="listBottom w-100"
            placeholder="Please Select"
            optionValue="User_ID"
            formControlName="SuperioId"
          ></p-dropdown>
        </div>

        <!-- Buyer -->
        <div class="col-xl col-lg-3 col-md-6 col-12">
          <label>Buyer Name <span>*</span></label>
          <p-dropdown
            [options]="BuyerList"
            optionLabel="Buyer_Name"
            [filter]="true"
            filterBy="Buyer_Name"
            [showClear]="true"
            styleClass="listBottom w-100"
            placeholder="Please Select"
            optionValue="Buyer_ID"
            formControlName="BuyerId"
          ></p-dropdown>
        </div>

        <!-- Load Button -->
        <div class="col-xl-auto col-lg-2 col-md-6 col-12">
          <button
            type="submit"
            class="btn btn-sm theme-btn w-100"
            [disabled]="dateForm.invalid"
            style="height: 48px"
          >
            <i class="pi pi-download me-1"></i> Load
          </button>
        </div>

        <!-- Create Button -->
        <div class="col-xl-auto col-lg-2 col-md-6 col-12">
          <button
            *ngIf="insertPermissions"
            class="btn theme-btn w-100"
            routerLink="/generate-buying-house"
            target="_blank"
            style="height: 48px"
          >
            <i class="fas fa-plus me-1"></i>Create New
          </button>
        </div>
      </form>
      <div class="row mb-3" *ngIf="tableVisible">
        <div class="col-md-12">
          <button
            class="btn theme-btn px-4 py-2"
            (click)="printDialog()"
            title="Export Cash Receive list to Excel, Word, or PDF"
          >
            <i class="fas fa-download"></i>&nbsp; Export
          </button>
        </div>
      </div>
      <div class="shadow-sm p-2">
        <p-table
          *ngIf="tableVisible"
          #dt
          [value]="allBuyers"
          [paginator]="true"
          [rows]="10"
          [responsive]="true"
          [showCurrentPageReport]="true"
          [globalFilterFields]="[
            'Buyer_Name',
            'Contact_Name',
            'Buyer_Address',
            'Contact_Title',
            'UserName',
            'Phone_No',
            'Email',
            'Created_By',
            'Created_At',
            'Status',
            'Updated_By',
            'Updated_At',
          ]"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <ng-template pTemplate="caption">
            <div class="table-toolbar d-flex justify-content-end">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="
                    dt.filterGlobal($any($event.target).value, 'contains')
                  "
                  placeholder="Global Search"
                />
              </span>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th class="text-center">Serial No</th>
              <th class="text-center">Buyer Name</th>
              <th class="text-center">Contact Person</th>
              <th class="text-center">Buyer Address</th>
              <th class="text-center">Designation</th>
              <th class="text-center">Group Head</th>
              <th class="text-center">Phone Number</th>
              <th class="text-center">E-mail Address</th>
              <th class="text-center">Created By</th>
              <th class="text-center">Created Date</th>
              <th class="text-center">Status</th>
              <th class="text-center">Approved By</th>
              <th class="text-center">Approved Date</th>
              <th class="text-center">Action</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-BuyersLIst let-i="rowIndex">
            <tr>
              <td class="text-center">{{ (dt.first || 0) + i + 1 }}</td>
              <td class="text-start">{{ BuyersLIst.Buyer_Name }}</td>
              <td class="text-start">{{ BuyersLIst.Contact_Name }}</td>
              <td class="text-start">{{ BuyersLIst.Buyer_Address }}</td>
              <td class="text-start">{{ BuyersLIst.Contact_Title }}</td>
              <td class="text-start">{{ BuyersLIst.UserName }}</td>
              <td class="text-start">{{ BuyersLIst.Phone_No }}</td>
              <td class="text-start">{{ BuyersLIst.Email }}</td>
              <td class="text-start">{{ BuyersLIst.CreatedBy }}</td>
              <td class="text-center">
                {{ BuyersLIst.Created_At | date: "dd-MMM-yyyy" }}
              </td>
              <td class="text-start">{{ BuyersLIst.Status }}</td>
              <td class="text-center">{{ BuyersLIst.ApprovedBy }}</td>
              <td class="text-center">
                {{ BuyersLIst.ApprovedDate | date: "dd-MMM-yyyy" }}
              </td>

              <td class="d-flex gap-2 justify-content-center">
                <button
                  class="btn btn-success btn-sm d-inline-flex align-items-center"
                  (click)="approeReq(BuyersLIst)"
                  title="Approve"
                  aria-label="Approve"
                >
                  <i class="pi pi-check me-1"></i>
                </button>
                <button
                  class="btn btn-danger btn-sm d-inline-flex align-items-center"
                  (click)="onDelete(BuyersLIst)"
                  title="Delete"
                  aria-label="Delete"
                >
                  <i class="pi pi-trash me-1"></i>
                </button>
                <!-- ✅ call the handler that opens the dialog -->
                <button
                  class="btn theme-btn btn-sm text-white d-inline-flex align-items-center"
                  (click)="onDetails(BuyersLIst)"
                  title="Details"
                  aria-label="Details"
                >
                  <i class="pi pi-eye me-1"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <!-- Details dialog -->
        <!-- <p-dialog
          header="Detail"
          [(visible)]="isDetailsVisible"
          [modal]="true"
          [closable]="true"
          [style]="{ width: '70vw' }"
          (onHide)="detailsData = null"
        >
          <div *ngIf="detailsData">
            <h2>Buyer Name - {{ detailsData.Buyer_Name }}</h2>
            <p>Group head: {{ detailsData.Group_head }}</p>
            <p>Contact Person: {{ detailsData.Contact_Name }}</p>
            <p>Company Info: {{ detailsData.company_info }}</p>
            <p>Buyer Address: {{ detailsData.Buyer_Address }}</p>
            <p>City: {{ detailsData.City }}</p>
            <p>Postal Code: {{ detailsData.Postal_Code }}</p>
            <p>Country: {{ detailsData.Country }}</p>
            <p>Designation: {{ detailsData.Contact_Title }}</p>
            <p>Phone No: {{ detailsData.Phone_No }}</p>
            <p>FAX No: {{ detailsData.FAX_No }}</p>
            <p>Email: {{ detailsData.Email }}</p>
            <p>Notes: {{ detailsData.Notes }}</p>
            <p>Created By: {{ detailsData.CreatedBy }}</p>
            <p>
              Created At: {{ detailsData.Created_At | date: "dd-MMM-yyyy" }}
            </p>
            <p>status: {{ detailsData.status }}</p>
            <p>Approved By: {{ detailsData.ApprovedBy }}</p>
            <p>
              Approved Date:
              {{ detailsData.ApprovedDate | date: "dd-MMM-yyyy" }}
            </p>
            <p>Uppdated By: {{ detailsData.UppdatedBy }}</p>
            <p>
              Updated At: {{ detailsData.Updated_At | date: "dd-MMM-yyyy" }}
            </p>
          </div>
        </p-dialog> -->
     <p-dialog
  [(visible)]="isDetailsVisible"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '75vw' }"
  styleClass="buyer-dialog"
  (onHide)="detailsData = null"
>
  <!-- Custom Header -->
  <ng-template pTemplate="header">
    <div class="buyer-header">
      <div>
        <h3>{{ detailsData?.Buyer_Name }}</h3>
        <span class="sub-text">Buyer Detailed Information</span>
      </div>
    </div>
  </ng-template>

  <!-- Scrollable Body -->
  <div *ngIf="detailsData" class="buyer-body">

    <!-- Company Section -->
    <div class="info-card">
      <h5 class="section-title">🏢 Company Information</h5>
      <div class="info-grid">
        <div><strong>Group Head:</strong> {{ detailsData.Group_head }}</div>
        <div><strong>Company Info:</strong> {{ detailsData.company_info }}</div>
        <div>
          <strong>Status:</strong>
          <span class="status-badge"
                [ngClass]="detailsData.status === 'Active' ? 'active' : 'inactive'">
            {{ detailsData.status }}
          </span>
        </div>
      </div>
    </div>

    <!-- Contact Section -->
    <div class="info-card">
      <h5 class="section-title">📞 Contact Information</h5>
      <div class="info-grid">
        <div><strong>Contact Person:</strong> {{ detailsData.Contact_Name }}</div>
        <div><strong>Designation:</strong> {{ detailsData.Contact_Title }}</div>
        <div><strong>Phone:</strong> {{ detailsData.Phone_No }}</div>
        <div><strong>Fax:</strong> {{ detailsData.FAX_No }}</div>
        <div><strong>Email:</strong> {{ detailsData.Email }}</div>
      </div>
    </div>

    <!-- Address Section -->
    <div class="info-card">
      <h5 class="section-title">📍 Address Details</h5>
      <div class="info-grid">
        <div><strong>Address:</strong> {{ detailsData.Buyer_Address }}</div>
        <div><strong>City:</strong> {{ detailsData.City }}</div>
        <div><strong>Postal Code:</strong> {{ detailsData.Postal_Code }}</div>
        <div><strong>Country:</strong> {{ detailsData.Country }}</div>
      </div>
    </div>

    <!-- Audit Section -->
    <div class="info-card">
      <h5 class="section-title">🗂 Audit Information</h5>
      <div class="info-grid">
        <div><strong>Created By:</strong> {{ detailsData.CreatedBy }}</div>
        <div><strong>Created At:</strong> {{ detailsData.Created_At | date:'dd-MMM-yyyy' }}</div>
        <div><strong>Approved By:</strong> {{ detailsData.ApprovedBy }}</div>
        <div><strong>Approved Date:</strong> {{ detailsData.ApprovedDate | date:'dd-MMM-yyyy' }}</div>
        <div><strong>Updated By:</strong> {{ detailsData.UppdatedBy }}</div>
        <div><strong>Updated At:</strong> {{ detailsData.Updated_At | date:'dd-MMM-yyyy' }}</div>
      </div>
    </div>

    <!-- Notes -->
    <div class="info-card">
      <h5 class="section-title">📝 Notes</h5>
      <div class="notes-box">
        {{ detailsData.Notes || 'No notes available.' }}
      </div>
    </div>

  </div>
</p-dialog>
      </div>
    </div>
  </div>
</div>
