<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <div class="card card-default">
      <div class="content-heading" style="border-bottom: 1px solid rgba(0,0,0,.125) !important;">
          <div class="row">
            <div class="col-6">
              <h2 class="p-2"></h2>
            </div>
          </div>
          <h2 class="p-2 font-weight-bold">Change Password</h2>
      </div>
      <div class="card-body">
        <form name="newForm" [formGroup]="Formgroup" role="form">
          
          <div class="row">
            <div class="col-md-12">
              <label for="change_password" class="">New Password <span>* &nbsp;</span></label>
              <div class="">
                <div class="form-group d-inline">
                  <input autocomplete="off" type="password"                  
                  formControlName="NewPassword"
                  class="form-control"
                  placeholder="Change Password" id="change_password" name="change_password" value="">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label for="new_password" class="">Confirm Password <span>* &nbsp;</span></label>
              <div class="">
                <div class="form-group d-inline">
                  <input autocomplete="off" type="password"                  
                  formControlName="ConfirmPassword"
                  class="form-control"
                  placeholder="New Password" id="new_password" name="new_password" value="">
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="flexbox mt-5">
          <button [routerLink]="['/dashboard']" class="btn btn-w-xl text-white btn-outline-danger bg-gradient-danger" type="button"
            >
            Cancel
          </button>
          <button  class="btn btn-w-xl text-white btn-outline-success bg-gradient-success px-5 float-right" type="button" (click)="ResetPassword()"
            [disabled]="Formgroup.invalid">
            Reset Password
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
