<div class="m-2 p-2 shadow-sm">
  <div class="card">
    <div class="card-header theme-bg">
      <h1 class="">Issued RM List</h1>
    </div>
    <div class="card-body">
      <p-table
        #dt
        [value]="issuedRequisitions"
        [paginator]="true"
        [rows]="10"
        [responsive]="true"
        [showCurrentPageReport]="true"
        [globalFilterFields]="[
          'RequisitionNumber',
          'RequisitionDate',
          'SentStatus_from_Warehouse',
          'IssueNumber',
          'IssueDate',
          'ReceivedStatus_from_Production',
          'SentBy'
        ]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      >
        <ng-template pTemplate="caption">
          <div class="table-toolbar">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Global Search"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center">Serial No</th>
            <th style="text-align: center">Requisition No</th>
            <th style="text-align: center">Requisition Date</th>
            <th style="text-align: center">SentStatus from Warehouse</th>
            <th style="text-align: center">IssueNumber</th>
            <th style="text-align: center">IssueDate</th>
            <th style="text-align: center">ReceivedStatus from Production</th>
            <th style="text-align: center">SentBy</th>
            <th style="text-align: center">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-requisition let-i="rowIndex">
          <tr>
            <td style="text-align: center">{{ i + 1 }}</td>
            <td style="text-align: left">
              {{ requisition.RequisitionNumber }}
            </td>
            <td style="text-align: center">
              {{ requisition.RequisitionDate }}
            </td>
            <td style="text-align: center">
              {{ requisition.SentStatus_from_Warehouse }}
            </td>
            <td style="text-align: center">{{ requisition.IssueNumber }}</td>
            <td style="text-align: center">{{ requisition.IssueDate }}</td>
            <td style="text-align: center">
              {{ requisition.ReceivedStatus_from_Production }}
            </td>
            <td style="text-align: center">{{ requisition.SentBy }}</td>
            <td style="text-align: center">
              <button
                class="btn theme-btn btn-sm text-white d-inline-flex align-items-center"
                (click)="onDetails(requisition)"
              >
                <i class="pi pi-eye me-1"></i>
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="5">Total Issued: {{ issuedRequisitions.length }}</td>
          </tr>
        </ng-template>
      </p-table>

      <!-- Details dialog -->
      <p-dialog
        header="Detail"
        [(visible)]="isDetailsVisible"
        [modal]="true"
        [closable]="true"
        [style]="{ width: '70vw' }"
        (onHide)="detailsData = null"
      >
        <div class="row mb-3" *ngIf="isDetailsVisible != null">
          <div class="col-md-12">
            <button
              class="btn theme-btn px-4 py-2"
              (click)="printApplication()"
              title="RM Issue Inoice data to Excel, Word, or PDF"
            >
              <i class="fas fa-download"></i>&nbsp; Export
            </button>
          </div>
        </div>
        <div *ngIf="isDetailsVisible">
          <h2>Issue No: {{ detailsData.IssueNumber }}</h2>
          <p>Issue Date: {{ detailsData.IssueDate }}</p>
          <p>Req. No: {{ detailsData.RequisitionNumber }}</p>
          <p>Date: {{ detailsData.RequisitionDate }}</p>
          <p>Issue Note: {{ detailsData.MasterNote }}</p>

          <p-table [value]="detailsData.Items" [responsive]="true">
            <ng-template pTemplate="caption">
              <div class="table-toolbar">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="
                      dt.filterGlobal($any($event.target).value, 'contains')
                    "
                    placeholder="Global Search"
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Article</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Roll/Bag</th>
                <th>Roll Qty</th>
                <th>Bag Qty</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.ConcatArticleNo }}</td>
                <td>{{ item.DetaisNote }}</td>
                <td>{{ item.Quantity }}</td>
                <td>{{ item.Roll_Bag }}</td>
                <td>{{ item.Roll }}</td>
                <td>{{ item.Bag }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-dialog>
    </div>
  </div>
</div>
