
<div class="wrapper" style="position: relative;">
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="http://163.47.146.42:9001/DB//img/preloader.gif" alt="IMS Logo" height="60" width="60">
  </div>
  <!-- Navbar -->
  <app-header></app-header>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <app-sidebar></app-sidebar>

<div class="overlay box stack-top" *ngIf="loaderstatus">
  <label class="blink">Please Wait....</label>
</div>
<div class="" *ngIf="!loaderstatus">
</div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper blue-green-palet">
    <!-- <app-base-content></app-base-content> -->
    <!-- Content Header (Page header) -->
    <div class="content-header">

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- /.content-header -->
    </div>
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->
<!-- <app-footer></app-footer> -->
