.top-bar {
            background: #e0e0e0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            height: 40px;
            font-size: 18px;
            font-weight: bold;
            z-index: 1000;
            position: relative;
        }

        .top-bar .company-name {
            font-size: 20px;
            color: #6a1a3f!important;
            text-decoration: none;
        }
        
        .top-bar .right-section {
            display: flex;
            gap: 15px;
            font-size: 14px;
        }
        
      
        #time {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        
       
        .custom-header {
            position: sticky!important;
            top: 0;
            background: #6a1a3f;
            padding: 0;
            z-index: 999; 
            margin-left:0px!important;
        }
        
        .custom-header .navbar-nav .nav-link {
            color: #fff !important;
            font-size: 14px;
            padding: 8px 12px;
        }
        
        .custom-header .navbar-nav .dropdown-menu {
            font-size: 14px;
        }
        
        .custom-header .navbar-nav .nav-link i {
            margin-right: 5px;
        }
        