<div class="container">
    <div class="search-box d-flex justify-content-end mb-2">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Global Search" />
        </span>
    </div>

    <p-table #dt [value]="data" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        [globalFilterFields]="globalFilterFields" [tableStyleClass]="'tbl-bordered'"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

        <ng-template pTemplate="header">
            <tr>
                <th *ngIf="showSerial" class="text-center" style="width:72px;">SL</th>
                <th *ngFor="let col of columns" class="text-center">{{ col.header }}</th>
                <th *ngIf="showActions" class="text-center">Action</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr>
                <td *ngIf="showSerial" class="text-center">
                    {{ (dt.first || 0) + rowIndex + 1 }}
                </td>

                <ng-container *ngFor="let col of columns">
                    <td [ngClass]="col.field === 'RequisitionNumber' ? 'text-start' : 'text-center'">
                        <ng-container [ngSwitch]="col.type || 'text'">
                            <ng-container *ngSwitchCase="'date'">
                                {{ row[col.field] | date:(col.dateFormat || 'dd-MMM-yyyy') }}
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                {{ row[col.field] }}
                            </ng-container>
                        </ng-container>
                    </td>
                </ng-container>

                <td *ngIf="showActions" class="text-center">
                    <div class="d-inline-flex gap-2">
                        <button class="btn btn-warning btn-sm d-inline-flex align-items-center" (click)="onEdit(row)"
                            title="Edit" aria-label="Edit">
                            <i class="pi pi-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm d-inline-flex align-items-center" (click)="onDelete(row)"
                            title="Delete" aria-label="Delete">
                            <i class="pi pi-trash"></i>
                        </button>
                        <button class="btn btn-info btn-sm text-white d-inline-flex align-items-center"
                            (click)="onDetails(row)" title="Details" aria-label="Details">
                            <i class="pi pi-eye"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>



        <ng-template pTemplate="footer">
            <tr>
                <td [attr.colspan]="columns.length + (showActions ? 1 : 0)">
                    Total Records: {{ data.length }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>