
.w-full{
    width: 100% !important;
}


.my-dropdown .icon-inner, .ionicon, svg {
    display: block!important;
    height: 20px!important;
    width: 20px!important;
}
.p-element svg {
    display: block!important;
    height: 20px!important;
    width: 20px!important;
}
th,
td,
tr {
    border: 1px solid #6a1a3f !important;
}

.btn-pi-save {
    background-color: #ffb400;
    color:
        white;
}
.btn-pi-refresh {
    background-color:#f8f9fa;
    color:
        #6a1a3f;
}
.btn-pi-save:hover {
    background-color: #e6a200;
    color:
        white;
}

.btn-pi-refresh:hover {
    background-color:#e2e6ea;
    color:
        #6a1a3f;
}