<div class="m-2 p-2">
  <div class="card shadow-sm">
    <div class="card-header theme-bg">
      <h1 class="fs-5 m-0">Sample Request Form</h1>
    </div>

    <div class="card-body">
      <form [formGroup]="Formgroup">
        <h3 class="fs-6"><strong>Details</strong></h3>
        <div class="table-responsive" style="overflow-x: auto">
          <table
            class="table table-bordered align-middle"
            style="min-width: 3500px; table-layout: fixed"
          >
            <thead class="table-light">
              <tr class="custom-header">
                <th class="text-center" style="width: 7%">Request Date</th>
                <th class="text-center" style="width: 7%">Customer Name</th>
                <th class="text-center" style="width: 7%">Contact Info</th>
                <th class="text-center" style="width: 7%">
                  Product Description
                </th>
                <th class="text-center" style="width: 7%">Article No</th>
                <th class="text-center" style="width: 7%">Sample Article No</th>
                <th class="text-center" style="width: 7%">Color</th>
                <th class="text-center" style="width: 7%">Width</th>
                <th class="text-center" style="width: 7%">Unit</th>
                <th class="text-center" style="width: 7%">Qty</th>
                <th class="text-center" style="width: 7%">Shipping Address</th>
                <th class="text-center" style="width: 7%">Status</th>
                <th class="text-center" style="width: 7%">Remarks</th>
                <th style="width: 2%"></th>
              </tr>
            </thead>

            <tbody formArrayName="items">
              <tr
                *ngFor="let item of items.controls; let i = index"
                [formGroupName]="i"
              >
                <!-- DATE -->
                <td class="p-1" style="width: 7%">
                  <p-calendar
                    formControlName="RequestDate"
                    [showIcon]="false"
                    dateFormat="dd/mm/yy"
                    placeholder="Select Date"
                    inputStyleClass="custom-date-input"
                    appendTo="body"
                    [style]="{ width: '100%' }"
                  ></p-calendar>
                </td>

                <!-- CUSTOMER NAME -->
                <td class="p-1" style="width: 7%">
                  <p-dropdown
                    [options]="CustomerList"
                    optionLabel="CustomerName"
                    [filter]="true"
                    filterBy="CustomerName"
                    [showClear]="true"
                    placeholder="Select"
                    optionValue="Customer_ID"
                    formControlName="CustomerName"
                    [virtualScroll]="true"
                    appendTo="body"
                    [virtualScrollItemSize]="30"
                    styleClass="w-100"
                    [style]="{ width: '100%' }"
                    (onChange)="CustomerDetails(item)"
                  ></p-dropdown>
                </td>

                <!-- CONTACT INFO -->
                <td class="p-1" style="width: 7%">
                  <input
                    type="text"
                    formControlName="Customer_Contact_Info"
                    class="form-control form-control-lg w-100"
                    placeholder="Contact"
                    style="width: 100%"
                  />
                </td>

                <!-- PRODUCT DESCRIPTION -->
                <td class="p-1" style="width: 7%">
                  <p-dropdown
                    class="p-0 w-100"
                    [options]="DescList"
                    optionLabel="Details"
                    [filter]="true"
                    filterBy="Details"
                    [showClear]="true"
                    appendTo="body"
                    placeholder="Please Select"
                    optionValue="InterliningsDescriptionId"
                    formControlName="Product_Description"
                    styleClass="w-100"
                    [style]="{ width: '100%' }"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="30"
                  >
                    <ng-template let-Desc pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ Desc.Details }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </td>

                <!-- ARTICLE -->
                <td class="p-1" style="width: 7%">
                  <p-dropdown
                    [options]="ArticleList"
                    optionLabel="ItemCode"
                    [filter]="true"
                    filterBy="ItemCode"
                    [showClear]="true"
                    placeholder="Select"
                    optionValue="Item_ID"
                    formControlName="ArticleNo"
                    appendTo="body"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="30"
                    styleClass="w-100"
                    [style]="{ width: '100%' }"
                  >
                    <ng-template let-ArticleNo pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ ArticleNo.ItemCode }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </td>

                <!-- SAMPLE ARTICLE -->
                <td class="p-1" style="width: 7%">
                  <input
                    type="text"
                    autocomplete="off"
                    formControlName="Sample_Article_No"
                    class="form-control w-100"
                    placeholder="Sample Article"
                    style="width: 100%; height: 48px"
                  />
                </td>

                <!-- COLOR -->
                <td class="p-1" style="width: 7%">
                  <p-dropdown
                    class="p-0 w-100"
                    [options]="ColorList"
                    optionLabel="Color"
                    [filter]="true"
                    filterBy="Color"
                    appendTo="body"
                    [showClear]="true"
                    placeholder="Select"
                    optionValue="Color_ID"
                    formControlName="Color"
                    styleClass="w-100"
                    [style]="{ width: '100%' }"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="30"
                  >
                    <ng-template let-ArticleNo pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ ArticleNo.Color }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </td>

                <!-- WIDTH -->
                <td class="p-1" style="width: 7%">
                  <p-dropdown
                    class="p-0 w-100"
                    [options]="WidthList"
                    optionLabel="Measurement"
                    [filter]="true"
                    filterBy="Measurement"
                    [showClear]="true"
                    appendTo="body"
                    placeholder="Select"
                    optionValue="Width_ID"
                    formControlName="Width"
                    styleClass="w-100"
                    [style]="{ width: '100%' }"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="30"
                  >
                    <ng-template let-ArticleNo pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ ArticleNo.Measurement }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </td>

                <!-- UNIT -->
                <td class="p-1" style="width: 7%">
                  <p-dropdown
                    class="p-0 w-100"
                    [options]="UnitList"
                    optionLabel="Unit"
                    [filter]="true"
                    filterBy="Unit"
                    [showClear]="true"
                    appendTo="body"
                    placeholder="Select"
                    optionValue="Unit_ID"
                    formControlName="Unit"
                    styleClass="w-100"
                    [style]="{ width: '100%' }"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="30"
                  >
                    <ng-template let-ArticleNo pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ ArticleNo.Unit }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </td>

                <!-- QTY -->
                <td class="p-1" style="width: 7%">
                  <input
                    type="number"
                    formControlName="Requested_Quantity"
                    class="form-control form-control-lg text-center w-100"
                    placeholder="Qty"
                    style="width: 100%"
                  />
                </td>

                <!-- SHIPPING ADDRESS -->
                <td class="p-1" style="width: 7%">
                  <textarea
                    formControlName="Shipping_Address"
                    class="form-control form-control-lg w-100"
                    placeholder="Address"
                    style="height: 48px; resize: none; width: 100%"
                  ></textarea>
                </td>

                <!-- STATUS -->
                <td class="p-1" style="width: 7%">
                  <p-dropdown
                    [options]="RequestStatus"
                    optionLabel="text"
                    [filter]="true"
                    filterBy="text"
                    [showClear]="true"
                    placeholder="Select"
                    optionValue="value"
                    formControlName="RequestStatus"
                    appendTo="body"
                    styleClass="w-100"
                    [style]="{ width: '100%' }"
                  ></p-dropdown>
                </td>

                <!-- REMARKS -->
                <td class="p-1" style="width: 7%">
                  <textarea
                    formControlName="Remarks"
                    class="form-control form-control-lg w-100"
                    placeholder="Remarks"
                    style="height: 48px; resize: none; width: 100%"
                  ></textarea>
                </td>

                <!-- DELETE BUTTON -->
                <td class="text-center" style="width: 4%">
                  <button
                    type="button"
                    class="btn btn-sm btn-danger d-flex justify-content-center align-items-center"
                    (click)="removeItem(i)"
                    style="width: 100%; height: 40px"
                  >
                    ×
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end gap-2 mt-3">
          <button
            type="button"
            class="btn btn-outline-success btn-sm"
            (click)="addItem()"
            style="width: 130px;"
          >
            <i class="bi bi-plus-circle me-1"></i> Add Row
          </button>

          <button
            type="submit"
            (click)="saveData()"
            class="btn theme-btn btn-sm"
            *ngIf="!isEdit"
            style="width: 130px;"
          >
            <i class="bi bi-save me-1"></i> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
