<div class="m-2 p-2">
  <div class="card shadow-sm">
    <div class="card-header theme-bg">
      <h1 class="fs-5 m-0">Sample Request Form</h1>
    </div>

    <div class="card-body">
      <form [formGroup]="Formgroup">
        <h3 class="fs-6"><strong>Details</strong></h3>

        <div class="table-responsive">
          <table class="table table-bordered table-sm align-middle">
            <thead class="table-light">
              <tr>
                <th class="text-center">Request Date</th>
                <th class="text-center">Customer Name</th>
                <th class="text-center">Contact Info</th>
                <th class="text-center">Product Description</th>
                <th class="text-center">Article No</th>
                <th class="text-center">Qty</th>
                <th class="text-center">Shipping Address</th>
                <th class="text-center">Status</th>
                <th class="text-center">Remarks</th>
                <th style="width: 50px"></th>
              </tr>
            </thead>

            <tbody formArrayName="items">
              <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                <td class="p-1">
                  <div class="input-group ">
                    <span class="input-group-text" (click)="dpfrom.toggle()">
                      <i class="fas fa-calendar"></i>
                    </span>
                    <input
                      type="text"
                      autocomplete="off"
                      formControlName="RequestDate"
                      class="form-control"
                      placeholder="Date"
                      #dpfrom="bsDatepicker"
                      bsDatepicker
                    />
                  </div>
                </td>

                <td class="p-1">
                  <p-dropdown
                    [style]="{ width: '100%' }"
                    class="p-0"
                    [options]="CustomerList"
                    optionLabel="CustomerName"
                    [filter]="true"
                    filterBy="CustomerName"
                    [showClear]="true"
                    styleClass="listBottom"
                    placeholder="Select"
                    optionValue="Customer_ID"
                    formControlName="CustomerName"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="30"
                  ></p-dropdown>
                </td>

                <td class="p-1">
                  <input type="text" formControlName="Customer_Contact_Info" class="form-control " placeholder="Contact" />
                </td>

                <td class="p-1">
                  <textarea formControlName="Product_Description" class="form-control " placeholder="Description"></textarea>
                </td>

                <td class="p-1">
                  <p-dropdown
                    [style]="{ width: '100%' }"
                    class="p-0"
                    [options]="ArticleList"
                    optionLabel="Article_No"
                    [filter]="true"
                    filterBy="Article_No"
                    [showClear]="true"
                    placeholder="Select"
                    optionValue="Item_ID"
                    formControlName="ArticleNo"
                  ></p-dropdown>
                </td>

                <td class="p-1" style="max-width: 70px;">
                  <input type="number" formControlName="Requested_Quantity" class="form-control  text-center" placeholder="Qty" />
                </td>

                <td class="p-1">
                  <textarea formControlName="Shipping_Address" class="form-control " placeholder="Address"></textarea>
                </td>

                <td class="p-1">
                  <p-dropdown
                    [style]="{ width: '100%' }"
                    class="p-0"
                    [options]="RequestStatus"
                    optionLabel="text"
                    [filter]="true"
                    filterBy="text"
                    [showClear]="true"
                    placeholder="Select"
                    optionValue="value"
                    formControlName="RequestStatus"
                  ></p-dropdown>
                </td>

                <td class="p-1">
                  <textarea formControlName="Remarks" class="form-control " placeholder="Remarks"></textarea>
                </td>

                <td class="text-center">
                  <button type="button" class="btn btn-sm btn-danger px-2 py-1" (click)="removeItem(i)">×</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="d-flex justify-content-end gap-2 mt-3">
          <button type="button" class="btn btn-outline-success btn-sm" (click)="addItem()">
            <i class="bi bi-plus-circle me-1"></i> Add Row
          </button>

          <button type="submit" (click)="saveData()" class="btn theme-btn btn-sm" [disabled]="Formgroup.invalid" *ngIf="!isEdit">
            <i class="bi bi-save me-1"></i> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
