<div class="container">
  <h1 class="theme-text">Received Finish Goods List</h1>

  <p-table
    class="theme-bg"
    #dt
    [value]="receivedFinishGoodsList"
    [paginator]="true"
    [rows]="10"
    [responsive]="true"
    [showCurrentPageReport]="true"
    [globalFilterFields]="[
      'ExportNumber',
      'Export_Date',
      'Total_Qty',
      'Total_Bag',
      'Total_Roll',
      'Net_Weight',
      'Status',
      'TotalAcceptQty',
      'TotalAcceptRollBagQty'
    ]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="caption">
      <div class="table-toolbar">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Global Search"
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">Serial No</th>
        <th class="text-center">Export No</th>
        <th class="text-center">Send Date</th>
        <th class="text-center">Total Qty</th>
        <th class="text-center">Total Bag</th>
        <th class="text-center">Total Roll</th>
        <th class="text-center">Total Net Weight</th>
        <th class="text-center">Status</th>
        <th class="text-center">Received Date</th>
        <th class="text-center">Total Accept Qty</th>
        <th class="text-center">Total Accept Roll/Bag Qty</th>
        <th class="text-center">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-finishGoodsReceived let-i="rowIndex">
      <tr>
        <td class="text-center">{{ (dt.first || 0) + i + 1 }}</td>
        <td class="text-start">{{ finishGoodsReceived.ExportNumber }}</td>
        <td class="text-center">{{ finishGoodsReceived.Send_Date }}</td>
        <td class="text-center">{{ finishGoodsReceived.Total_Qty }}</td>
        <td class="text-center">{{ finishGoodsReceived.Total_Bag }}</td>
        <td class="text-center">{{ finishGoodsReceived.Total_Roll }}</td>
        <td class="text-center">{{ finishGoodsReceived.Net_Weight }}</td>
        <td class="text-center">{{ finishGoodsReceived.Status }}</td>
        <td class="text-center">{{ finishGoodsReceived.Received_Date }}</td>
        <td class="text-center">{{ finishGoodsReceived.TotalAcceptQty }}</td>
        <td class="text-center">
          {{ finishGoodsReceived.TotalAcceptRollBagQty }}
        </td>

        <td class="d-flex gap-2 justify-content-center">
          <button
            class="btn theme-btn-view btn-sm text-white d-inline-flex align-items-center"
            (click)="onDetails(finishGoodsReceived)"
            title="Details"
            aria-label="Details"
          >
            <i class="pi pi-eye me-1"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr>
        <td colspan="8">
          Total Received FG List: {{ receivedFinishGoodsList.length }}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Details dialog -->
  <p-dialog
    header="Detail"
    [(visible)]="isDetailsVisible"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '100vw' }"
    (onHide)="detailsData = null"
  >
    <ng-template pTemplate="header">
      <div class="d-flex justify-content-between align-items-center w-100">
        <span>Detail</span>
        <button
          class="btn theme-btn btn-sm"
          title="Print"
          (click)="printDialog()"
        >
          <i class="fa fa-print"></i>&nbsp; Print
        </button>
      </div>
    </ng-template>
    <div *ngIf="detailsData">
      <h2>Export No - {{ detailsData.ExportNumber }}</h2>
      <p>Date: {{ detailsData.Export_Date }}</p>
      <p>Total Qty: {{ detailsData.Total_Qty }}</p>
      <p>Total Bag: {{ detailsData.Total_Bag }}</p>
      <p>Total Roll: {{ detailsData.Total_Roll }}</p>
      <p *ngIf="detailsData.Note">Note: {{ detailsData.Note }}</p>
      <p>Total Accepted Qty: {{ detailsData.TotalAcceptQty }}</p>
      <p>Total Accepted RollBag Qty: {{ detailsData.TotalAcceptRollBagQty }}</p>

      <p-table [value]="detailsData.Items" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center">Article</th>
            <th style="text-align: center">Description</th>
            <th style="text-align: center">UoM</th>
            <th style="text-align: center">Quantity</th>
            <th style="text-align: center">Roll/Bag/KG/Piece</th>
            <th style="text-align: center">Gross Weight</th>
            <th style="text-align: center">Accepted Qty</th>
            <th style="text-align: center">Accepted RollBag Qty</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td style="text-align: left">{{ item.Article_No }}</td>
            <td style="text-align: left">{{ item.DetailsNote }}</td>
            <td style="text-align: center">{{ item.Roll_Bag }}</td>
            <td style="text-align: center">{{ item.Quantity }}</td>
            <td style="text-align: center">{{ item.Sent_RollBag_Quantity }}</td>
            <td style="text-align: center">{{ item.Gross_Weight }}</td>
            <td style="text-align: center">{{ item.AcceptedQuantity }}</td>
            <td style="text-align: center">{{ item.AcceptedRollBag_Qty }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
</div>
