<div class="m-2 p-2">

  <div class="card shadow-sm border-0">

    <!-- HEADER -->
    <div class="card-header theme-bg py-3">

      <div class="d-flex justify-content-between align-items-center">

        <h2 class="text-white mb-0 fw-bold">
          PI Amendment Application
        </h2>

      </div>

    </div>

    <div class="card-body">
      <form [formGroup]="Formgroup">

        <!-- Search Criteria -->
        <fieldset class="border rounded p-3 mb-4">

          <legend class="float-none w-auto px-2 fw-bold fs-5">
            Search Information
          </legend>

          <div class="row g-3 align-items-end">

            <!-- DATE -->
            <div class="col-lg-2 col-md-6">

              <label class="form-label fw-semibold">
                Date
              </label>

              <input
                #dateInput
                type="date"
                formControlName="Date"
                class="form-control"
                [readOnly]="true"
              />

            </div>

            <!-- USER -->
            <div class="col-lg-2 col-md-6">

              <label class="form-label fw-semibold">
                UserName
              </label>

              <ng-container *ngIf="UserList.length > 1">

                <p-dropdown
                  [options]="UserList"
                  optionLabel="UserName"
                  optionValue="User_ID"
                  [filter]="true"
                  filterBy="UserName"
                  [showClear]="true"
                  placeholder="Please Select"
                  formControlName="User_ID"
                  styleClass="w-100">
                </p-dropdown>

              </ng-container>

              <ng-container *ngIf="UserList.length === 1">

                <input
                  type="text"
                  class="form-control"
                  [value]="UserList[0].UserName"
                  readonly
                />

                <input
                  type="hidden"
                  formControlName="User_ID"
                  [value]="UserList[0].UserName"
                />

              </ng-container>

            </div>

            <!-- CONSIGNEE -->
            <div class="col-lg-3 col-md-6">

              <label class="form-label fw-semibold">
                Consignee
              </label>

              <ng-container
                *ngIf="UserList.length > 1 && !Formgroup.get('User_ID')?.value"
              >

                <input
                  type="text"
                  class="form-control border-danger text-danger bg-light"
                  value="Select UserName first"
                  readonly
                />

              </ng-container>

              <p-dropdown
                [options]="consigneeList"
                formControlName="Customer_ID"
                optionLabel="Company_Name"
                optionValue="Customer_ID"
                placeholder="Search Consignee"
                [filter]="true"
                [showClear]="true"
                [disabled]="!Formgroup.get('User_ID')?.value"
                (onFilter)="onSearchCustomerName($event)"
                (onClear)="onClearCustomerName()"
                appendTo="body"
                styleClass="w-100"
              >
              </p-dropdown>

            </div>

            <!-- PI -->
            <div class="col-lg-3 col-md-6">

              <label class="form-label fw-semibold">
                PI No
              </label>

              <ng-container
                *ngIf="UserList.length > 1 && !Formgroup.get('User_ID')?.value"
              >

                <input
                  type="text"
                  class="form-control border-danger text-danger bg-light"
                  value="Select UserName first"
                  readonly
                />

              </ng-container>

              <p-dropdown
                [options]="piList"
                formControlName="PINo"
                optionLabel="PINo"
                optionValue="PINo"
                placeholder="Search PI No"
                [filter]="true"
                [showClear]="true"
                [disabled]="UserList.length > 1 && !Formgroup.get('User_ID')?.value"
                (onFilter)="onSearchPI($event)"
                (onClear)="onClearPI()"
                styleClass="w-100"
              >
              </p-dropdown>

            </div>

            <!-- SEARCH BUTTON  LoadPIDetails-->
            <div class="col-lg-2 col-md-12">

              <button
                type="button"
                class="btn theme-btn w-100"
                style="height: 42px;"
                (click)="getPIDetails()"
              >
                <i class="pi pi-search me-2"></i>
                Search
              </button>

            </div>

          </div>

        </fieldset>


        <!-- PI Information -->
         <div class="card border-0 shadow-sm">
          <div class="card-header bg-light">

            <div class="d-flex justify-content-between align-items-center">

              <h4 class="fw-bold mb-0">
                PI Information
              </h4>

              <span class="badge bg-primary fs-6">
                Total Rows:
                {{ items?.length || 0 }}
              </span>

            </div>

          </div>
         </div>

         <div class="card border-0 shadow-sm">

  
<div style="overflow-x: auto; width: 100%">
  <table class="table table-bordered" style="min-width: 900px">
    <thead>
      <tr class="custom-header">
        <th style="text-align: center">Customer</th>
        <th style="text-align: center">PI No</th>
        <th style="text-align: center">Article</th>
        <th style="text-align: center">A. Article</th>
        <th style="text-align: center">Color</th>
        <th style="text-align: center">Width</th>
        <th style="text-align: center">Unit</th>
        <th style="text-align: center">Qty</th>
        <th style="text-align: center">U. Price</th>
        <th style="text-align: center">U. Comm</th>
        <th style="text-align: center">Payment Terms</th>
        <th style="text-align: center">Delivey Qty</th>
        <th style="text-align: center">Action</th>
      </tr>
    </thead>

    <tbody formArrayName="items" *ngIf="items && items.length > 0">
      <tr *ngFor="let group of items.controls; let i = index" [formGroupName]="i">
        <td>{{ group.value.customer_name }}</td>
        <td>{{ group.value.PINo }}</td>
        <td>{{ group.value.Article }}</td>
        <td>{{ group.value.ActualArticle }}</td>
        <td>{{ group.value.Color }}</td>
        <td>{{ group.value.Width }}</td>
        <td>{{ group.value.Unit }}</td>
        <td>{{ group.value.Quantity }}</td>
        <td>{{ group.value.Unit_Price }}</td>
        <td>{{ group.value.CommissionUnit }}</td>
        <td>{{ group.value.PaymentTerms }}</td>
        <td>{{ group.value.Delivered_Quantity }}</td>
        <td>
          <button type="button" class="btn btn-sm btn-success px-2 py-1" (click)="CopyItem(group.value)">
            Copy
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


        <div class="card-header bg-light">

    <div class="d-flex justify-content-between align-items-center">

      <h4 class="fw-bold mb-0">
        Revised Information
      </h4>

      <button
        type="button"
        class="btn btn-success rounded-pill px-4"
        (click)="addReviseRow()"
        [disabled]="!items || items.length === 0">

        <i class="bi bi-plus-circle me-1"></i>
        Add Row

      </button>

    </div>

  </div>


        <div style="overflow-x: auto; width: 100%">
          <table class="table table-bordered" style="min-width: 1100px">
            <thead>
              <tr class="custom-header">
                <th style="text-align: center">Customer</th>
                <th style="text-align: center">PI No</th>
                <th style="text-align: center">Article</th>
                <th style="text-align: center">A. Article</th>
                <th style="text-align: center">Color</th>
                <th style="text-align: center">Width</th>
                <th style="text-align: center">Unit</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">U. Price</th>
                <th style="text-align: center">U. Comm</th>
                <th style="text-align: center">Payment Terms</th>
                <th style="text-align: center">Remarks</th>
                <th style="text-align: center">Action</th>
              </tr>
            </thead>

            <tbody
              formArrayName="itemsRevise"
              *ngIf="items && items.length > 0"
            >
              <tr
                *ngFor="let item of ReviseDetails; let i = index"
                [formGroupName]="i"
              >
                <td>{{ item.customer_name }}</td>
                <td>{{ item.PINo }}</td>
                <td class="align-middle">
                  <input
                    style="width: 5rem"
                    formControlName="Article"
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Article No"
                    id="ArticleNo"
                    name="ArticleNo"
                  />
                  <div
                    *ngIf="
                      Formgroup.get(['itemsRevise', i, 'Article'])?.invalid &&
                      Formgroup.get(['itemsRevise', i, 'Article'])?.touched
                    "
                    class="text-danger small"
                  >
                    Article is required
                  </div>
                </td>
                <td class="align-middle">
                  <p-dropdown
                    formControlName="Item_ID"
                    [options]="AAList"
                    optionLabel="Article_No"
                    optionValue="Article_No"
                    [filter]="true"
                    filterBy="Article_No"
                    [showClear]="true"
                    appendTo="body"
                    (onChange)="SetActualArticle(item)"
                    [style]="{ width: '100%' }"
                    placeholder="Select a Article"
                  >
                  </p-dropdown>
                  <div
                    *ngIf="
                      Formgroup.get(['itemsRevise', i, 'Item_ID'])?.invalid &&
                      Formgroup.get(['itemsRevise', i, 'Item_ID'])?.touched
                    "
                    class="text-danger small"
                  >
                    A. Article required
                  </div>
                </td>
                <td class="align-middle">
                  <p-dropdown
                    formControlName="Color_ID"
                    [options]="ColorList"
                    optionLabel="Color"
                    optionValue="Color"
                    [filter]="true"
                    filterBy="Color"
                    [showClear]="true"
                    appendTo="body"
                    [style]="{ width: '100%' }"
                    placeholder="Select a Color"
                  >
                  </p-dropdown>
                  <div
                    *ngIf="
                      Formgroup.get(['itemsRevise', i, 'Color_ID'])?.invalid &&
                      Formgroup.get(['itemsRevise', i, 'Color_ID'])?.touched
                    "
                    class="text-danger small"
                  >
                    Color required
                  </div>
                </td>
                <td class="align-middle">
                  <p-dropdown
                    formControlName="Width_ID"
                    [options]="WidthList"
                    optionLabel="Measurement"
                    optionValue="Measurement"
                    [filter]="true"
                    filterBy="Measurement"
                    [showClear]="true"
                    appendTo="body"
                    [style]="{ width: '100%' }"
                    placeholder="Select a Width"
                  >
                  </p-dropdown>
                  <div
                    *ngIf="
                      Formgroup.get(['itemsRevise', i, 'Width_ID'])?.invalid &&
                      Formgroup.get(['itemsRevise', i, 'Width_ID'])?.touched
                    "
                    class="text-danger small"
                  >
                    Width required
                  </div>
                </td>
                <td class="align-middle">
                  <p-dropdown
                    formControlName="Unit_ID"
                    [options]="UnitList"
                    optionLabel="Unit"
                    optionValue="Unit"
                    [filter]="true"
                    filterBy="Unit"
                    [showClear]="true"
                    appendTo="body"
                    [style]="{ width: '100%' }"
                    placeholder="Select a Unit"
                  >
                  </p-dropdown>
                  <div
                    *ngIf="
                      Formgroup.get(['itemsRevise', i, 'Unit_ID'])?.invalid &&
                      Formgroup.get(['itemsRevise', i, 'Unit_ID'])?.touched
                    "
                    class="text-danger small"
                  >
                    Unit required
                  </div>
                </td>
                <td class="align-middle">
                  <input
                    style="width: 5rem"
                    (change)="calculateAmount(item)"
                    formControlName="Quantity"
                    type="number"
                    class="form-control form-control-sm"
                    placeholder="Qty"
                    id="Qty"
                    name="Qty"
                  />
                  <div
                    *ngIf="
                      Formgroup.get(['itemsRevise', i, 'Quantity'])?.invalid &&
                      Formgroup.get(['itemsRevise', i, 'Quantity'])?.touched
                    "
                    class="text-danger small"
                  >
                    Qty required (min 1)
                  </div>
                </td>
                <td class="align-middle">
                  <input
                    style="width: 5rem"
                    (change)="calculateAmount(item)"
                    formControlName="Unit_Price"
                    type="number"
                    class="form-control form-control-sm text-right"
                    placeholder="Unit Price"
                    id="Rate"
                    name="Rate"
                  />
                  <div
                    *ngIf="
                      Formgroup.get(['itemsRevise', i, 'Unit_Price'])
                        ?.invalid &&
                      Formgroup.get(['itemsRevise', i, 'Unit_Price'])?.touched
                    "
                    class="text-danger small"
                  >
                    Unit price required
                  </div>
                </td>
                <td class="align-middle">
                  <input
                    style="width: 5rem"
                    (change)="calculateAmount(item)"
                    formControlName="CommissionUnit"
                    type="text"
                    class="form-control form-control-sm text-right"
                    placeholder="Prod. Cost Unit"
                    id="ProdCost"
                    name="ProdCost"
                  />
                </td>
                <td class="align-middle">
                  <p-dropdown
                    formControlName="PaymentTerms"
                    [options]="PaymentModeList"
                    optionLabel="Mode"
                    optionValue="Mode"
                    [filter]="true"
                    filterBy="Mode"
                    [showClear]="true"
                    appendTo="body"
                    [style]="{ width: '100%' }"
                    placeholder="Select Payment Term"
                  >
                  </p-dropdown>
                  <div
                    *ngIf="
                      Formgroup.get(['itemsRevise', i, 'Mode'])?.invalid &&
                      Formgroup.get(['itemsRevise', i, 'Mode'])?.touched
                    "
                    class="text-danger small"
                  >
                    Payment Terms required
                  </div>
                </td>
                <td>
                  <input
                    type="text"
                    formControlName="Remarks"
                    class="form-control form-control-sm"
                  />
                </td>
                <td class="text-center">
                  <button
                    type="button"
                    class="btn btn-sm btn-danger px-2 py-1"
                    (click)="removeRevise(i)"
                  >
                    ×
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

         <div class="d-flex justify-content-end gap-2 mt-3">

           <button
            type="submit"
            (click)="saveData()"
            [ngClass]="{
              'theme-btn-disable': Formgroup.invalid,
            }"
            class="btn theme-btn btn-rounded"
            [disabled]="Formgroup.invalid"
            *ngIf="!isEdit"
            style="height: 38px; width: 130px"
          >
            <i class="bi bi-save me-1"></i> Save
          </button>
          <button
            type="submit"
            (click)="UpdateData()"
            [ngClass]="{
              'theme-btn-disable': Formgroup.invalid,
            }"
            class="btn theme-btn btn-rounded"
            *ngIf="isEdit"
            style="height: 38px; width: 130px"
          >
            <i class="bi bi-save me-1"></i> Update
          </button>
         </div>

</div>

      </form>
    </div>

  </div>


</div>