
<div class="m-2 p-2">
  <div class="card card-default">
  <div
    class="card-header theme-bg"
    style="border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important"
  >
  
        <h2 class="">Delivered PI</h2>
     
  </div>
  <div class="card-body">
    <form [formGroup]="SearchForm">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="control-label" for="inlineFormInputGroup"
            >From Date</label
          >
          <div class="input-group mb-2">
            <div class="input-group-sm input-group-prepend">
              <div class="input-group-text theme-btn" (click)="dpfrom.toggle()">
                <i class="fas fa-calendar"></i>
              </div>
            </div>
            <input
              type="text"
              autocomplete="off"
              formControlName="fromDate"
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-green'
              }"
              class=" form-control bg-white"
              id="fromdate"
              name="fromdate"
              placeholder="From Date"
              #dpfrom="bsDatepicker"
              bsDatepicker
            />
          </div>
        </div>
        <div class="col-auto">
          <label class="control-label" for="inlineFormInputGroup"
            >To Date</label
          >
          <div class="input-group mb-2">
            <div class="input-group-sm input-group-prepend">
              <div class="input-group-text" (click)="dpto.toggle()">
                <i class="fas fa-calendar"></i>
              </div>
            </div>
            <input
              type="text"
              autocomplete="off"
              formControlName="toDate"
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-green'
              }"
              class=" form-control bg-white"
              id="todate"
              name="todate"
              placeholder="To Date"
              #dpto="bsDatepicker"
              bsDatepicker
            />
          </div>
        </div>
        <div class="col-auto">
          <label for="PINo" class="">PI No </label>
          <div class="">
            <div class="form-group d-inline">
              <input
                autocomplete="off"
                type="text"
                formControlName="piNo"
                class="form-control"
                placeholder="PI No"
                id="PINo"
                name="PINo"
                value=""
              />
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button
            title="Search"
            type="button"
            (click)="Search()"
            class="btn theme-btn mb-2 mr-2"
            style="margin-top: 2.3em !important"
          >
            <i class="fas fa-search"></i>&nbsp;Search
          </button>
        </div>
      </div>
    </form>
    <hr />
    <p-table
      #dt
      [value]="tableData"
      [paginator]="true"
      [rows]="10"
      [responsive]="true"
      [showCurrentPageReport]="true"
      [globalFilterFields]="[
        'PI_No',
        'Date',
        'Shipper',
        'Consignee',
        'Status',
        'GeneratedBy'
      ]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="caption">
        <div class="table-toolbar d-flex justify-content-end">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Global Search"
            />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th class="">SL</th>
          <th class="">PI No</th>
          <th class="">Date</th>
          <th class="">Shipper</th>
          <th class="">Consignee</th>
          <th class="">Status</th>
          <th class="">Generated By</th>
          <th class="" *ngIf="allPersmissions">Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-table let-i="rowIndex">
        <tr>
          <td class="text-center">{{ (dt.first || 0) + i + 1 }}</td>
          <td class="text-center align-middle">{{ table.PI_No }}</td>
          <td class="text-center align-middle">{{ table.Date }}</td>
          <td class="text-center align-middle">{{ table.Shipper }}</td>
          <td class="text-center align-middle">{{ table.Consignee }}</td>
          <td class="text-center align-middle">{{ table.Status }}</td>
          <td class="text-center align-middle">{{ table.GeneratedBy }}</td>
          <td class="text-center align-middle p-2 m-0">
            <a
              class="btn theme-btn-view  mr-2"
              target="_blank"
              title="View"
              (click)="viewDetails(table)"
              ><i class="fa fa-eye"></i
            ></a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!--/Region Mat Datatable"-->
  <p-dialog
    header="Detail"
    [(visible)]="isDetailsVisible"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '70vw' }"
    (onHide)="detailsData = null"
  >
    <div *ngIf="detailsData">
      <p>Consignee Initial: {{ detailsData.Consignee_Initial }}</p>
      <p>Shipper: {{ detailsData.Shipper }}</p>
      <p>Benificiary Bank: {{ detailsData.BenificiaryBank }}</p>
      <p>Consignee: {{ detailsData.Consignee }}</p>
      <p>Applicant Bank: {{ detailsData.ApplicantBank }}</p>
      <p>Buyer Name: {{ detailsData.Buyer_Name }}</p>
      <p>Country: {{ detailsData.Country }}</p>
      <p>Delivery Details: {{ detailsData.DeliveryDetails }}</p>
      <p>Force Majeure: {{ detailsData.forceMajeure }}</p>
      <p>Loading Mode: {{ detailsData.LoadingMode }}</p>
      <p>Contact Person: {{ detailsData.Contact_Person }}</p>
      <p>Packing Mode: {{ detailsData.PackingMode }}</p>
      <p>Expire Date: {{ detailsData.ExpireDate }}</p>
      <p>Remarks: {{ detailsData.Remarks }}</p>
      <p>Style: {{ detailsData.Style }}</p>
      <p>Payment Terms: {{ detailsData.PaymentTerms }}</p>
      <p>Price Term: {{ detailsData.PriceTerm }}</p>
      <p>Partial Allowed: {{ detailsData.partialAllowed }}</p>
      <p>Delivery Address: {{ detailsData.Delivery_Address }}</p>
      <p>Documents: {{ detailsData.Documents }}</p>
      <p>Good Description: {{ detailsData.Good_Description }}</p>
      <p>Shipping Marks: {{ detailsData.Shipping_Marks }}</p>
      <p>Loading Port: {{ detailsData.Loading_Port }}</p>
      <p>Destination Port: {{ detailsData.Destination_Port }}</p>
      <p>Created By.: {{ detailsData.Created_By }}</p>
      <p>Superior Name.: {{ detailsData.SuperiorName }}</p>
      <p>Status: {{ detailsData.Status }}</p>
      <p-table
        #dt
        [value]="detailsTableData"
        [paginator]="true"
        [rows]="10"
        [responsive]="true"
        [showCurrentPageReport]="true"
        [globalFilterFields]="[
          'Article',
          'ActualArticle',
          'Description',
          'Width',
          'Color',
          'Packaging',
          'Quantity',
          'Unit',
          'Unit_Price',
          'Total_Amount',
          'Delivered_Quantity',
          'ProdCost',
          'TotalProdCost'
        ]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      >
        <ng-template pTemplate="caption">
          <div class="table-toolbar">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Global Search"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th class="">SL</th>
            <th class="">Article</th>
            <th class="">ActualArticle</th>
            <th class="">Description</th>
            <th class="">Width</th>
            <th class="">Color</th>
            <th class="">Packaging</th>
            <th class="">Quantity</th>
            <th class="">Unit</th>
            <th class="">Unit_Price</th>
            <th class="">Total_Amount</th>
            <th class="">Delivered_Quantity</th>
            <th class="">ProdCost</th>
            <th class="">TotalProdCost</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-table let-i="rowIndex">
          <tr>
            <td class="text-center">{{ (dt.first || 0) + i + 1 }}</td>
            <td class="text-center align-middle">{{ table.Article }}</td>
            <td class="text-center align-middle">{{ table.ActualArticle }}</td>
            <td class="text-center align-middle">{{ table.Description }}</td>
            <td class="text-center align-middle">{{ table.Width }}</td>
            <td class="text-center align-middle">{{ table.Color }}</td>
            <td class="text-center align-middle">{{ table.Packaging }}</td>
            <td class="text-center align-middle">{{ table.Quantity }}</td>
            <td class="text-center align-middle">{{ table.Unit }}</td>
            <td class="text-center align-middle">{{ table.Unit_Price }}</td>
            <td class="text-center align-middle">{{ table.Total_Amount }}</td>
            <td class="text-center align-middle">{{ table.Delivered_Quantity }}</td>
            <td class="text-center align-middle">{{ table.ProdCost }}</td>
            <td class="text-center align-middle">{{ table.TotalProdCost }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
</div>

</div>

