<div class="row d-flex justify-content-center">
  <div class="m-2 p-2 shadow">
    <div class="card">
      <div class="card-header  text-black">
        <h2 class="p-2 fw-semibold">
          {{ !isEdit ? "Create" : "Update " }} <br> <span>LC</span>
        </h2>
      </div>
      <div class="card-body">
        <form name="newForm" [formGroup]="Formgroup" role="form">
    
          <div class="row g-6">
  <!-- LEFT SIDE -->
  <div class="col-md-6">
    <!-- Marketing Concern -->
    <div class="row align-items-center mb-3">
      <div class="col-md-4 text-end fw-semibold">
        Marketing Concern <span>*</span>
      </div>
      <div class="col-md-8">
        <p-dropdown
        [style]="{ width: '70%' }"
          class="w-100 p-0"
          [options]="MarketingConcern"
          (onChange)="getPINoByMarketingConcern()"
          optionLabel="UserName"
          [filter]="true"
          filterBy="UserName"
          [showClear]="true"
          placeholder="Select"
          optionValue="User_ID"
          formControlName="Marketing_Concern"
        ></p-dropdown>
      </div>
    </div>

    <!-- PIs -->
    <div class="row align-items-center">
      <div class="col-md-4 text-end fw-semibold">
        PIs <span>*</span>
      </div>
      <div class="col-md-8">
        <p-multiSelect
        [style]="{ width: '70%' }" class="p-0" [options]="PINo" [virtualScroll]="true" [virtualScrollItemSize]="30"
          class="w-100 p-0"
          [options]="PINo"
          [filter]="true"
          filterBy="label"
          [showClear]="true"
          placeholder="Select"
          formControlName="PINo"
        ></p-multiSelect>
      </div>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="col-md-6">
    <!-- Consignee Name -->
    <div class="row align-items-center mb-3">
      <div class="col-md-4 text-end fw-semibold">
        Consignee Name
      </div>
      <div class="col-md-8">
        <input
         [style]="{ width: '70%' }"
          type="text"
          class="form-control"
          placeholder="Consignee Name"
          formControlName="Consignee_Name"
        />
      </div>
    </div>

    <!-- Beneficiary Bank -->
    <div class="row align-items-center">
      <div class="col-md-4 text-end fw-semibold">
        Beneficiary Bank <span>*</span>
      </div>
      <div class="col-md-8">
        <p-dropdown
         [style]="{ width: '70%' }"
          class="w-100 p-0"
          [options]="BenificiaryAccounts"
          optionLabel="BankName"
          [filter]="true"
          filterBy="BankName"
          [showClear]="true"
          placeholder="Select"
          optionValue="Beneficiary_Bank_ID"
          formControlName="BenificiaryAccounts"
        ></p-dropdown>
      </div>
    </div>
  </div>
</div>

          <div class="row">
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >LC Receiving Date By Mail/Draft</label
              >

              <input
                type="date"
                formControlName="LCReceivingDateByDraft"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >LC Receiving Date Original By Bank</label
              >
              <input
                type="date"
                formControlName="LCReceivingDateOrgBank"
                class="form-control"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="LCNo" class="">LC No <span>*</span></label>
              <div class="">
                <div class="form-group d-inline">
                  <input
                    autocomplete="off"
                    type="text"
                    formControlName="LCNo"
                    class="form-control"
                    placeholder="LC No"
                    id="LCNo"
                    name="LCNo"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="LCValue" class="">LC Value <span>*</span></label>
              <div class="">
                <div class="form-group d-inline">
                  <input
                    autocomplete="off"
                    type="number"
                    formControlName="LCValue"
                    class="form-control"
                    placeholder="LC Value"
                    id="LCValue"
                    name="LCValue"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >Issue Date <span>*</span></label
              >
              <input
                type="date"
                formControlName="IssueDate"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >Expiry Date</label
              >
              <input
                type="date"
                formControlName="ExpiryDate"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label for="LCNo" class="">Customer Bank Name</label>
              <div class="">
                <div class="form-group d-inline">
                  <input
                    autocomplete="off"
                    type="text"
                    formControlName="CustomerBankName"
                    class="form-control"
                    placeholder="Customer Bank Name"
                    id="CustomerBankName"
                    name="CustomerBankName"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >Invoice No With Date</label
              >
              <input
                type="date"
                formControlName="InvoiceNoWitDate"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >IP Documents Sending Date</label
              >
              <input
                type="date"
                formControlName="IPDocSendingDate"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >IP Documents Receiving Date</label
              >
              <input
                type="date"
                formControlName="IPDocReceivingDate"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label>Payment Terms (LC) <span>*</span></label>
              <p-dropdown
                [style]="{ width: '100%' }"
                class="p-0"
                [options]="PaymentTerms"
                optionLabel="Mode"
                [filter]="true"
                filterBy="Mode"
                [showClear]="true"
                styleClass="listBottom"
                placeholder="Please Select"
                optionValue="Payment_Term_ID"
                formControlName="PaymentTermsLC"
              >
                <ng-template let-PaymentTerms pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ PaymentTerms.Mode }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >Maturity Date</label
              >
              <input
                type="date"
                formControlName="MaturityDate"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >Documents Presentation To Bank Date</label
              >
              <input
                type="date"
                formControlName="DocPresBankDate"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >FDD/TT Receive Date</label
              >
              <input
                type="date"
                formControlName="FDDRecDate"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >Export LC/SC</label
              >
              <div class="">
                <div class="form-group d-inline">
                  <input
                    autocomplete="off"
                    type="text"
                    formControlName="ExportLCSC"
                    class="form-control"
                    placeholder="Export LC/SC"
                    id="ExportLCSC"
                    name="ExportLCSC"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >Actual Payment Receiving Date</label
              >
              <input
                type="date"
                formControlName="ActualPaymentRecDate"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >Export LC/SC Date</label
              >
              <input
                type="date"
                formControlName="ExportLCSCDate"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >LCA Form No</label
              >
              <div class="">
                <div class="form-group d-inline">
                  <input
                    autocomplete="off"
                    type="text"
                    formControlName="LCAFormNo"
                    class="form-control"
                    placeholder="LCA Form No"
                    id="LCAFormNo"
                    name="LCAFormNo"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >Applicant TIN</label
              >
              <div class="">
                <div class="form-group d-inline">
                  <input
                    autocomplete="off"
                    type="text"
                    formControlName="ApplicantTIN"
                    class="form-control"
                    placeholder="Applicant TIN"
                    id="ApplicantTIN"
                    name="ApplicantTIN"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >Applicant BIN/VAT</label
              >
              <div class="">
                <div class="form-group d-inline">
                  <input
                    autocomplete="off"
                    type="text"
                    formControlName="ApplicantBINVAT"
                    class="form-control"
                    placeholder="Applicant BIN/VAT"
                    id="ApplicantBINVAT"
                    name="ApplicantBINVAT"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >HS Code</label
              >
              <div class="">
                <div class="form-group d-inline">
                  <input
                    autocomplete="off"
                    type="text"
                    formControlName="HSCode"
                    class="form-control"
                    placeholder="HS Code"
                    id="HSCode"
                    name="HSCode"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >Bank BIN No.</label
              >
              <div class="">
                <div class="form-group d-inline">
                  <input
                    autocomplete="off"
                    type="text"
                    formControlName="BankBINNo"
                    class="form-control"
                    placeholder="Bank BIN No."
                    id="BankBINNo"
                    name="BankBINNo"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >Remarks</label
              >
              <div class="">
                <div class="form-group d-inline">
                  <input
                    autocomplete="off"
                    type="text"
                    formControlName="Remarks"
                    class="form-control"
                    placeholder="Remarks"
                    id="Remarks"
                    name="Remarks"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="inlineFormInputGroup"
                >IRC No.</label
              >
              <div class="">
                <div class="form-group d-inline">
                  <input
                    autocomplete="off"
                    type="text"
                    formControlName="IRCNo"
                    class="form-control"
                    placeholder="IRC No.o"
                    id="IRCNo"
                    name="IRCNo"
                    value=""
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="flexbox mt-5">
          <button
            [routerLink]="['/all-lc']"
            class="btn btn-w-xl text-white theme-btn-cancel"
            type="button"
          >
            Cancel
          </button>
          <button
            class="btn btn-w-xl text-white theme-btn px-5 float-right"
            type="button"
            (click)="saveData()"
            [disabled]="Formgroup.invalid"
            [hidden]="isEdit"
          >
            Save
          </button>
          <button
            [hidden]="!isEdit"
            class="btn btn-w-xl text-white theme-btn-edit px-5 float-right"
            type="button"
            (click)="updateData()"
            [disabled]="Formgroup.invalid"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
