<div class="container form-container">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div class="icon-wrapper">
                    <i class="fas fa-user-shield"></i>
                </div>
                <span>{{!isEdit?'Create New Role':'Edit Role'}}</span>
            </div>
            <div class="card-body">
                <form name="newForm" [formGroup]="Formgroup" role="form">
                    <div class="mb-4">
                        <label for="Role_Name" class="form-label required-field">Role Name</label>
                        <input autocomplete="off" type="text" formControlName="Role_Name"
                            class="form-control form-control-lg" placeholder="Enter role name" 
                            id="Role_Name" name="Role_Name" value="">
                        <div class="form-text">Enter a unique name for the role</div>
                    </div>
                    
                    
                </form>
                
                <div class="button-group">
                    <button [routerLink]="['/role-list']" class="btn btn-danger" type="button">
                        <i class="fas fa-times-circle me-2"></i>Cancel
                    </button>
                    
                    <button *ngIf="!isEdit" class="btn btn-success" type="button" 
                        (click)="saveData()" [disabled]="Formgroup.invalid">
                        <i class="fas fa-save me-2"></i>Save Role
                    </button>
                    
                    <button *ngIf="isEdit" class="btn btn-success" type="button" 
                        (click)="updateData()" [disabled]="Formgroup.invalid">
                        <i class="fas fa-sync-alt me-2"></i>Update Role
                    </button>
                </div>
            </div>
        </div>
    </div>