<div class="m-2 p-2 shadow-sm">
  <div class="row d-flex justify-content-center">

    <div class="card card-default">

      <div class="card-header">
        <h2 class="p-2 font-weight-bold">
          {{ !isEdit ? "Add" : "Edit" }}
          <br />
          <span>Generate Customer</span>
        </h2>
      </div>

      <div class="card-body">

        <form [formGroup]="Formgroup">

          <!-- SHIPPER -->
          <div class="row mb-4">

            <div class="col-md-6">

              <div class="row align-items-center">

                <div class="col-md-4">
                  <label class="fw-bold">Shipper Name</label>
                </div>

                <div class="col-md-8">

                  <p-dropdown
                    [options]="BaneficiaryAccountList"
                    optionLabel="CompanyName"
                    optionValue="Beneficiary_Account_ID"
                    formControlName="Beneficiary_Account_ID"
                    [filter]="true"
                    filterBy="CompanyName"
                    [showClear]="true"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="30"
                    appendTo="body"
                    placeholder="Select Shipper"
                    styleClass="w-100"
                  >
                  </p-dropdown>

                </div>

              </div>

            </div>

          </div>

          <!-- MAIN SECTION -->
          <div class="row">

            <!-- LEFT SIDE -->
            <div class="col-md-6">

              <div class="card shadow-sm p-3 h-100">

                <h5 class="fw-bold border-bottom pb-2 mb-4">
                  Company Information
                </h5>

                <!-- Company Name -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">Company Name</label>
                  </div>

                  <div class="col-md-8">
                    <input
                      type="text"
                      formControlName="Company_Name"
                      class="form-control"
                      placeholder="Company Name"
                    />
                  </div>

                </div>

                <!-- Office Address -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">Office Address</label>
                  </div>

                  <div class="col-md-8">
                    <textarea
                      rows="2"
                      formControlName="Customer_Address"
                      class="form-control"
                      placeholder="Office Address"
                    ></textarea>
                  </div>

                </div>

                <!-- Factory Address -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">Factory Address</label>
                  </div>

                  <div class="col-md-8">
                    <textarea
                      rows="2"
                      formControlName="Factory_Address"
                      class="form-control"
                      placeholder="Factory Address"
                    ></textarea>
                  </div>

                </div>

                <!-- Product Type -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">Product Type</label>
                  </div>

                  <div class="col-md-8">
                    <input
                      type="text"
                      formControlName="Product_Type"
                      class="form-control"
                      placeholder="Product Type"
                    />
                  </div>

                </div>

                <!-- Total Worker -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">Total Worker</label>
                  </div>

                  <div class="col-md-8">
                    <input
                      type="number"
                      formControlName="Total_Worker"
                      class="form-control"
                      placeholder="Total Worker"
                    />
                  </div>

                </div>

                <!-- Company Type -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">Company Type</label>
                  </div>

                  <div class="col-md-8">
                    <input
                      type="text"
                      formControlName="Company_Type"
                      class="form-control"
                      placeholder="Company Type"
                    />
                  </div>

                </div>

                <!-- Buyer Name -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">Buyer Name</label>
                  </div>

                  <div class="col-md-8">
                    <input
                      type="text"
                      formControlName="Buyer_Name"
                      class="form-control"
                      placeholder="Buyer Name"
                    />
                  </div>

                </div>

                <!-- City -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">City</label>
                  </div>

                  <div class="col-md-8">
                    <input
                      type="text"
                      formControlName="City"
                      class="form-control"
                      placeholder="City"
                    />
                  </div>

                </div>

                <!-- Postal Code -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">Postal Code</label>
                  </div>

                  <div class="col-md-8">
                    <input
                      type="text"
                      formControlName="Postal_Code"
                      class="form-control"
                      placeholder="Postal Code"
                    />
                  </div>

                </div>

                <!-- Country -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">
                      Country Name
                    </label>
                  </div>

                  <div class="col-md-8">

                    <p-dropdown
                      [options]="CountryList"
                      optionLabel="Country"
                      optionValue="Country_ID"
                      formControlName="Country_ID"
                      [filter]="true"
                      filterBy="Country"
                      [showClear]="true"
                      placeholder="Select Country"
                      styleClass="w-100"
                    >
                    </p-dropdown>

                  </div>

                </div>

              </div>

            </div>

            <!-- RIGHT SIDE -->
            <div class="col-md-6">

              <div class="card shadow-sm p-3 h-100">

                <h5 class="fw-bold border-bottom pb-2 mb-4">
                  Contact Information
                </h5>

                <!-- Contact Person -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">Contact Person</label>
                  </div>

                  <div class="col-md-8">
                    <input
                      type="text"
                      formControlName="Contact_Name"
                      class="form-control"
                      placeholder="Contact Person"
                    />
                  </div>

                </div>

                <!-- Designation -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">Designation</label>
                  </div>

                  <div class="col-md-8">
                    <input
                      type="text"
                      formControlName="Contact_Title"
                      class="form-control"
                      placeholder="Designation"
                    />
                  </div>

                </div>

                <!-- Phone -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">Phone Number</label>
                  </div>

                  <div class="col-md-8">
                    <input
                      type="text"
                      formControlName="Phone_No"
                      class="form-control"
                      placeholder="Phone Number"
                    />
                  </div>

                </div>

                <!-- Email -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">E-Mail</label>
                  </div>

                  <div class="col-md-8">
                    <input
                      type="email"
                      formControlName="Email"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>

                </div>

                <!-- Note -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">Note</label>
                  </div>

                  <div class="col-md-8">
                    <textarea
                      rows="3"
                      formControlName="Notes"
                      class="form-control"
                      placeholder="Note"
                    ></textarea>
                  </div>

                </div>

                <!-- Group Head -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">
                      Group Head
                    </label>
                  </div>

                  <div class="col-md-8">

                    <p-dropdown
                      [options]="UserList"
                      optionLabel="UserName"
                      optionValue="User_ID"
                      formControlName="User_Id"
                      [filter]="true"
                      filterBy="UserName"
                      [showClear]="true"
                      [virtualScroll]="true"
                      [virtualScrollItemSize]="30"
                      placeholder="Select Group Head"
                      styleClass="w-100"
                    >
                    </p-dropdown>

                  </div>

                </div>

                <!-- IsAvailable -->
                <div class="row mb-3 align-items-center">

                  <div class="col-md-4">
                    <label class="fw-bold">
                      IsAvailable
                    </label>
                  </div>

                  <div class="col-md-8">

                    <p-checkbox
                      formControlName="IsAvailable"
                      [binary]="true"
                      label="Active"
                    >
                    </p-checkbox>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <!-- BUTTON -->
          <div class="row mt-4">

            <div class="col-md-12 text-end">

              <button
                class="btn theme-btn px-5 me-2"
                type="button"
                (click)="saveData()"
                [disabled]="Formgroup.invalid"
                [hidden]="isEdit"
              >
                Save
              </button>

              <button
                class="btn theme-btn px-5"
                type="button"
                (click)="updateData()"
                [disabled]="Formgroup.invalid"
                [hidden]="!isEdit"
              >
                Update
              </button>

            </div>

          </div>

        </form>

      </div>

    </div>

  </div>
</div>