<div class="card card-default">
  <div class="content-heading" style="border-bottom: 1px solid rgba(0,0,0,.125) !important;">
    <div class="row">
      <div class="col-6">
        <h2 class="p-2">All LC</h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="SearchForm">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="control-label" for="inlineFormInputGroup">From Date</label>
          <div class="input-group mb-2">
            <div class="input-group-sm input-group-prepend">
              <div class="input-group-text" (click)="dpfrom.toggle()"><i class="fas fa-calendar"></i></div>
            </div>
            <input type="text" autocomplete="off" formControlName="fromDate" [bsConfig]="{
              dateInputFormat: 'DD/MM/YYYY',
              containerClass: 'theme-green'
            }" class="form-control-sm form-control bg-white" id="fromdate" name="fromdate" placeholder="From Date" 
              #dpfrom="bsDatepicker" bsDatepicker/>
          </div>

        </div>
        <div class="col-auto">
          <label class="control-label" for="inlineFormInputGroup">To Date</label>
          <div class="input-group mb-2">
            <div class="input-group-sm input-group-prepend">
              <div class="input-group-text" (click)="dpto.toggle()"><i class="fas fa-calendar"></i></div>
            </div>
            <input type="text" autocomplete="off" formControlName="toDate" [bsConfig]="{
              dateInputFormat: 'DD/MM/YYYY',
              containerClass: 'theme-green'
            }" class="form-control-sm form-control bg-white" id="todate" name="todate" placeholder="To Date"
              #dpto="bsDatepicker" bsDatepicker />
          </div>
        </div>
        <div class="col-auto">
            <label for="LCNo" class="">LC No </label>
              <div class="">
                <div class="form-group d-inline">
                  <input autocomplete="off" type="text"                  
                  formControlName="lcNo"
                  class="form-control"
                  placeholder="LC No" id="LCNo" name="LCNo" value="">
                </div>
              </div>
        </div>
        <div class="col-auto">
          <button title="Search" type="button" (click)="Search()"
            class="btn btn-sm btn-outline-primary bg-gradient-primary mb-2 mr-2" style="margin-top: 2.3em !important;">
            <i class="fas fa-search"></i>&nbsp;Search</button>
        </div>
      </div>
    </form>
    <hr>

      <p-table #dt
           [value]="tableData"
           [paginator]="true"
           [rows]="10"
           [responsive]="true"
           [showCurrentPageReport]="true"
           [globalFilterFields]="['PI_No','Consignee_Name','PI_Value','Issue_Date','Total_Receive_Amount','Last_Receive_Date','Balance','System_Created_Date','Remarks','Payment_Terms']"
           
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

    <ng-template pTemplate="caption">
      <div class="table-toolbar">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text"
                 (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                 placeholder="Global Search" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="bg-gradient-success">SL</th>
        <th class="bg-gradient-success">PI No</th>
        <th class="bg-gradient-success">Consignee Name</th>
        <th class="bg-gradient-success">PI Value</th>
        <th class="bg-gradient-success">Issue Date</th>
        <th class="bg-gradient-success">Total Receive Amount</th>
        <th class="bg-gradient-success">Last Receive Date</th>
        <th class="bg-gradient-success">Balance</th>
        <th class="bg-gradient-success">Created Date</th>
        <th class="bg-gradient-success">Remarks</th>
        <th class="bg-gradient-success">Payment Terms</th>
        <th class="bg-gradient-success" *ngIf="allPersmissions">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-table let-i="rowIndex">
      <tr>
        <td class="text-center">{{ (dt.first || 0) + i + 1 }}</td>
        <td class="text-center align-middle">{{table.PI_No}}</td>
        <td class="text-center align-middle">{{table.Consignee_Name}}</td>
        <td class="text-center align-middle">{{table.PI_Value}}</td>
        <td class="text-center align-middle">{{table.Issue_Date}}</td>
        <td class="text-center align-middle">{{table.Total_Receive_Amount}}</td>
        <td class="text-center align-middle">{{table.Last_Receive_Date}}</td>
        <td class="text-center align-middle">{{table.Balance}}</td>
        <td class="text-center align-middle">{{table.System_Created_Date}}</td>
        <td class="text-center align-middle">{{table.Remarks}}</td>
        <td class="text-center align-middle">{{table.Payment_Terms}}</td>
        <td class="text-center align-middle p-0 m-0">
            <a  class="btn bg-gradient-cyan btn-xs mr-2" target="_blank" title="View" (click)="viewDetails(table)"><i class="fa fa-eye" ></i></a> 
            <a *ngIf="updatePermissions" class="btn bg-gradient-cyan btn-xs mr-2" target="_blank" title="Edit" [routerLink]="['/generate-cash-rececive']"
              [queryParams]="{CR_Id:table.CR_Id}"><i class="fa fa-edit" ></i></a> 
            <button *ngIf="deletePermissions" class="btn bg-gradient-danger btn-xs" title="Delete" (click)="DeleteData(table)"><i
                class="fas fa-trash"></i></button>
        </td>
      </tr>
    </ng-template>

  </p-table>

    </div>
    

  </div>