<div class="container">
  <h1>Pending RM Requisition List</h1>
<app-shared-list
  [data]="pendingRequisitions"
  [columns]="[
    { field: 'RequisitionNumber', header: 'Requisition No' },
    { field: 'RequisitionDate',  header: 'Date' },
    { field: 'Total_Qty',        header: 'Total Qty' },
    { field: 'Total_bag',        header: 'Total Bag' },
    { field: 'Total_Roll',       header: 'Total Roll' },
    { field: 'Status',           header: 'Status' }
  ]"
  [globalFilterFields]="['RequisitionNumber','RequisitionDate','Total_Qty','Total_bag','Total_Roll','Status']"
  [showActions]="true"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)"
  (details)="onDetails($event)">
</app-shared-list>

</div>
