.btn-cpi-save {
    background-color: #ffb400;
    color:
        white;
}
.btn-cpi-refresh {
    background-color:#f8f9fa;
    color:
        #6a1a3f;
}
.btn-cpi-save:hover {
    background-color: #e6a200;
    color:
        white;
}

.btn-cpi-refresh:hover {
    background-color:#e2e6ea;
    color:
        #6a1a3f;
}
