
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
* {
  font-family: 'Roboto Slab';
  font-size: medium;
}
.icon-inner, .ionicon, svg {
  height: 20px !important;
  width: 20px !important;
  display: inline-block !important;
}
/* default theme variable */
.theme-bg{
    background-color: #6a1a3f!important;
    color: white;
}
.theme-btn:hover{
    background-color: #800080;
    color: white;
}
.theme-btn{
    background-color: #6a1a3f;
    color: white;
}
.p-datatable-thead{
  background:#6a1a3f;
}
.theme-text{
    color: #6a1a3f;
}
.theme-color{
    color: #6a1a3f;
}
table-bordered td, .table-bordered th,tr,td {
    border: 1px solid #6a1a3f !important;
}
.theme-btn {
    border-radius: 5px;
    background-color: #6a1a3f!important;
    color: white;
}

.theme-bg {
    background-color: #6a1a3f;
    color: white;

}
.theme-btn-disable{
    background-color: #6a1a3f45;
}
.theme-btn:hover {
    background-color: #800080;
    color: white;
}

.theme-text {
    color: #6a1a3f;
}

.theme-color {
    color: #6a1a3f;
}

 
.table-bordered th,
td,
tr {
    border: 1px solid #6a1a3f !important;
}
/* over-right */

.p-paginator {
  background-color: #6a1a3f!important;
    color: white!important;
}
p-paginator .p-paginator-current {
   color: white!important;
}
/* Add / Create */
.theme-btn-add { background-color: #a12c64; color: #fff; }
.theme-btn-add:hover { background-color: #b23b75; }

/* Edit / Update */
.theme-btn-edit { background-color: #b23b60; color: #fff; }
.btn-edit:hover { background-color: #c94d77; }

/* Delete */
.theme-btn-delete { background-color: #d32f2f; color: #fff; }
.theme-btn-delete:hover { background-color: #e53935; }

/* View / Details */
.theme-btn-view { background-color: #51223c; color: #fff; }
.theme-btn-view:hover { background-color: #6a1a3f; }

/* Cancel */
.theme-btn-cancel { background-color: #aa607f; color: #fff; }
.theme-btn-cancel:hover { background-color: #bb708f; }

.ngx-datatable.bootstrap {
  background-color: transparent;
  box-shadow: 0 0 0 #000;
}

.ngx-datatable.scroll-vertical {
  height: 300px;
}

.no-detail-row .datatable-row-detail {
  display: none !important;
}

.ngx-datatable.bootstrap.single-selection .datatable-body-row.active,
.ngx-datatable.bootstrap.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.bootstrap.multi-selection .datatable-body-row.active,
.ngx-datatable.bootstrap.multi-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.bootstrap.multi-click-selection .datatable-body-row.active,
.ngx-datatable.bootstrap.multi-click-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.bootstrap.single-selection .datatable-body-row.active:hover,
.ngx-datatable.bootstrap.single-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.bootstrap.multi-selection .datatable-body-row.active:hover,
.ngx-datatable.bootstrap.multi-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.bootstrap.multi-click-selection .datatable-body-row.active:hover,
.ngx-datatable.bootstrap.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
  background-color: red !important;
}

/* .datatable-body-cell {
  color: #106cc8;
} */

.datatable-icon-right {
  text-decoration: none !important;
}

.ngx-datatable.bootstrap .empty-row {
  text-align: center;
  margin-top: 20px;
}

.ngx-datatable.bootstrap .datatable-footer {
  background-color: transparent;
  color: red;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  color: blue;
}

.pager li>a,
.pager li>span {
  border-color: black;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: blue;
  border-color: blue;
  color: #fff;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
  border: 0;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
  background-color: rgba(0, 0, 0, 0.025);
}

.ngx-datatable.bootstrap .datatable-body .progress-linear {
  display: block;
  position: relative;
  width: 100%;
  height: 5px;
  padding: 0;
  margin: 0;
  position: absolute;
}

.ngx-datatable.bootstrap .datatable-body .progress-linear .container {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 5px;
  -webkit-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  background-color: #aad1f9;
}

.ngx-datatable.bootstrap .datatable-body .progress-linear .container .bar {
  transition: all .2s linear;
  -webkit-animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  background-color: #106cc8;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: 5px;
}

.wrapper .aside-container .aside-inner,
.wrapper .aside-container {
  width: 230px;
}

datatable-body-cell.w-sl
{
  width: 5% !important;
}

datatable-header-cell.w-sl
{
  width: 5% !important;
}

datatable-body-cell.dt-ledger-name
{
  width: 30% !important;
}

datatable-header-cell.dt-ledger-name
{
  width: 30% !important;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #6a1a3f !important;
}

.input-group-text{
  height: calc(1.8125rem + 2px) !important;
}
.datatable table,tr,td,th{
  font-size: 14px !important;
  font-weight: bold;
  padding: 8px !important;
}


.textSuccess:placeholder {
  color: #cccccc;
}
.textSuccess {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  /* padding: 5px 32px; */
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;

  background-color: #fff;


  border-bottom: 2px solid #99c248;
}

.text {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  /* padding: 5px 32px; */
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;

  background-color: #fff;


  border-bottom: 2px solid #99c248;
}


.text:placeholder {
  color: #cccccc;
}

.textError:placeholder {
  color: #cccccc;
}
.textError{

  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  /* padding: 5px 32px; */
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;

  background-color: #fff;


  border-bottom: 2px solid #ce2525;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
  background-color: inherit;
  color: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* .p-dropdown {
  height: 38px;          /* আপনার পছন্দমতো fix height দিন 
  line-height: 38px;
  font-size: 14px;
  padding: 6px 10px;
  box-sizing: border-box;
} */

.my-dropdown-panel .p-dropdown-items .p-dropdown-item {
  white-space: normal !important;
  word-break: break-word;
  line-height: 1.4;
  padding: 6px 10px;
}

/* নির্বাচিত ভ্যালু (ড্রপডাউন বন্ধ অবস্থায় দেখানো টেক্সট) wrap হবে */
.my-dropdown .p-dropdown-label.p-inputtext {
  white-space: normal !important;
  word-break: break-word;
  overflow: visible !important;
  text-overflow: unset !important;
  height: auto !important;
  line-height: 1.4;
}