<div class="container">
  <h1>Received RM List from Production</h1>
  <p-table #dt [value]="acceptedRequisitions" [paginator]="true" [rows]="10" [responsive]="true"
    [showCurrentPageReport]="true"
    [globalFilterFields]="['RequisitionNumber','RequisitionDate','SentStatus_from_Warehouse','IssueNumber','IssueDate','ReceivedStatus_from_Production','SentBy']"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

    <ng-template pTemplate="caption">
      <div class="table-toolbar">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Global Search" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center;">Serial No</th>
        <th style="text-align: center;">IssueNumber</th>
        <th style="text-align: center;">IssueDate</th>
        <th style="text-align: center;">Status</th>
        <th style="text-align: center;">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-requisition let-i="rowIndex">
      <tr>
        <td style="text-align: center;">{{ i + 1 }}</td>
        <td style="text-align: left;">{{ requisition.IssueNumber }}</td>
        <td style="text-align: center;">{{ requisition.IssueDate }}</td>
        <td style="text-align: center;">{{ requisition.ReceivedStatus_from_Production }}</td>
        <td class="d-flex gap-2" style="justify-content: center;">
          <button class="btn btn-info btn-sm text-white d-inline-flex align-items-center"
            (click)="onDetails(requisition)">
            <i class="pi pi-eye me-1"></i>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="5">Total Issued: {{ acceptedRequisitions.length }}</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Details dialog -->
  <p-dialog header="Detail" [(visible)]="isDetailsVisible" [modal]="true" [closable]="true" [style]="{ width: '70vw' }"
    (onHide)="detailsData = null">
    <div *ngIf="detailsData">
      <h2>Issue No: {{ detailsData.IssueNumber }}</h2>
      <p>Issue Date: {{ detailsData.IssueDate }}</p>
      <p>Req. No: {{ detailsData.RequisitionNumber }}</p>
      <p>Date: {{ detailsData.RequisitionDate }}</p>
      <p>Issue Note: {{ detailsData.MasterNote }}</p>

      <p-table [value]="detailsData.Items" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center;">Article</th>
            <th style="text-align: center;">Description</th>
            <th style="text-align: center;">Sent Quantity</th>
            <th style="text-align: center;">Roll/Bag</th>
            <th style="text-align: center;">Roll Qty</th>
            <th style="text-align: center;">Bag Qty</th>
            <th style="text-align: center;">Accepted Qty</th>
            <th style="text-align: center;">Accepted Roll_Bag Qty</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td style="text-align: left;">{{ item.ConcatArticleNo }}</td>
            <td style="text-align: left;">{{ item.DetaisNote }}</td>
            <td style="text-align: center;">{{ item.Quantity }}</td>
            <td style="text-align: center;">{{ item.Roll_Bag }}</td>
            <td style="text-align: center;">{{ item.Roll }}</td>
            <td style="text-align: center;">{{ item.Bag }}</td>
            <td style="text-align: center;">{{ item.AcceptedQuantity }}</td>
            <td style="text-align: center;">{{ item.AcceptedRollBag_Qty }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
</div>