.table-toolbar{
  display: flex;
  justify-content: flex-end;   /* push to the right */
  padding: .25rem .5rem;
}

.table-toolbar .p-inputtext{
  width: 260px;                /* adjust as you like */
}

/* Optional: full width on small screens */
@media (max-width: 576px){
  .table-toolbar .p-inputtext{ width: 100%; }
}
/* Styles for Pending RM Requisition */

.danger-input {
  border: 1px solid #e74c3c !important;
}

/* component.css */
:host ::ng-deep .wide-dialog {
  width: 1100px !important;          /* base */
}
:host ::ng-deep .wide-dialog .p-dialog-content {
  max-height: 75vh;
  overflow: auto;
}

/* green = exact match & non-negative */
.is-valid {
  border: 1px solid #28a745 !important;
  box-shadow: 0 0 0 .15rem rgba(40, 167, 69, .25);
}


