<!-- <div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <div class="card card-default">
      <div class="content-heading" style="border-bottom: 1px solid rgba(0,0,0,.125) !important;">
          <div class="row">
            <div class="col-6">
              <h2 class="p-2"></h2>
            </div>
          </div>
          <h2 class="p-2 font-weight-bold">{{!isEdit?'Add':'Edit'}}&nbsp;Commercial Invoice</h2>
      </div>
      <div class="card-body">
        <form name="newForm" [formGroup]="Formgroup" role="form">
          
          <div class="row">
            <div class="col-md-12">
              <label for="RoleRole_NameName" class="">Role Name <span>* &nbsp;</span></label>
              <div class="">
                <div class="form-group d-inline">
                  <input autocomplete="off" type="text"                  
                  formControlName="Role_Name"
                  class="form-control"
                  placeholder="Role Name" id="Role_Name" name="Role_Name" value="">
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="flexbox mt-5">
          <button [routerLink]="['/role-list']" class="btn btn-w-xl text-white btn-outline-danger bg-gradient-danger" type="button"
            >
            Cancel
          </button>
          <button  class="btn btn-w-xl text-white btn-outline-success bg-gradient-success px-5 float-right" type="button" (click)="saveData()"
            [disabled]="Formgroup.invalid" [hidden]="isEdit">
            Save
          </button>
          <button [hidden]="!isEdit" class="btn btn-w-xl text-white btn-outline-success bg-gradient-success px-5 float-right" type="button" (click)="updateData()"
            [disabled]="Formgroup.invalid">
            Update
          </button>
        </div>
      </div>
    </div>

  </div>
</div> -->
