td.action-column {
  width: 150px; /* adjust as needed */
  white-space: nowrap; /* don't wrap text */
}


td.action-column .btn-group {
  display: flex;
  justify-content: center;
}

/* Icon-only compact buttons */
td.action-column .btn {
  width: 10px !important;       /* icon only, width depends on icon */
  height: 30px;      /* fixed height */
  padding: 0 6px;    /* small horizontal padding */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 !important; /* square corners */
  font-size: 0.9rem; /* icon size */
}

/* Optional: icon spacing */
td.action-column .btn i {
  margin-right: 4px;     /* space between icon and text */
}

::ng-deep .p-paginator {
  display: flex !important;
  align-items: center;
}

::ng-deep .p-paginator .p-paginator-current {
  margin-right: auto !important;   /* এইটা left এ আটকে রাখবে */
}

::ng-deep .p-paginator .p-paginator-pages,
::ng-deep .p-paginator .p-paginator-next,
::ng-deep .p-paginator .p-paginator-prev,
::ng-deep .p-paginator .p-paginator-first,
::ng-deep .p-paginator .p-paginator-last {
  margin-left: 0 !important;
}